.searchbar-wrapper {
    display: flex;
    border-bottom: 1px solid whitesmoke;
}

.searchbar-left {
    display: flex;
    justify-content: flex-start;
}

.searchbar-center {
    display: flex;
    justify-content: center;
}

.searchbar-right {    
    justify-content: flex-end;
}