.app-container{
    width: 500px; 
    height: auto; 
    border: 1px solid lightcoral; 
    margin: auto; 
}
.top-bar{
    border: 1px solid black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: auto; 
    height: 50px; 
}
.top-bar-left{
    border: 1px solid lightblue; 
    width: 150px; 
    height: 40px; 
}
.top-bar-right{
    border: 1px solid lightblue; 
    width: 100px; 
    height: 40px; 
}
.post-container{
    margin: auto; 
    border: 1px solid lightgreen; 
}
.thumbnail{
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
}
.userName{
    height:50px; 
}
.post-img{
    height: 500px;
    width: 500px; 
}

.comment-container{
    border: 1px solid seagreen; 
    height: auto; 
}
.comment{
    font-size: 12px; 
}