.logo {
    display: flex;
    align-items: center;
}

.svg-inline--fa.fa-w-14 {
    width: 43px;
    height: auto;
    margin-right: 15px;
    margin-left: 12px;
}

/* .instagramLogo {
    width: 43px;
    height: auto;
    margin-right: 15px;
} */

.divider {
    font-size: 40px;
    position: relative;
    bottom: 5px;
    margin-right: 15px;
}

.linkH2 {
    font-size: 40px;
    font-family: Billabong;
}