
/* styles for main header */
.main-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
  
  }
  
  .vl{
    border-left: 2px solid grey;
    height: 20px;
  }
  
  .left-icons{
    width: 27%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .right-icons{
    width: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  /* end of styles for main header */