.searchBar {
  font-size: 1.4rem;
  margin-right: 4.5rem;
}
.searchBar .icon {
  height: 1.3rem;
  right: -7rem;
  bottom: .1rem;
  opacity: 0.3;
  position: relative; 
  width: 1.3rem;
}

.searchBar input {
  border: .1rem solid lightgrey;
  border-radius: .5rem;
  height: 3rem;
  text-indent: 3.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(180, 180, 180);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgb(180, 180, 180);
}