.search-bar {

  display: flex;
  justify-content: space-between;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;

  div {

    display: flex;
    align-items: center;

    .logo {

      height: 59%;
      width: 233px;

    }

    .fa-instagram {

      font-size: 5rem;
      margin-left: 28px;

    }

    .divider {

      font-size: 6rem;
      margin-left: 35px;
      margin-right: 16px;

    }

    .right {

      margin: 32px;
      font-size: 4.6rem;
      margin-top: 43px;

    }

    .input {

      position: relative;

    }

    .fa-search {

      position: absolute;
      top: 25px;
      left: 77px;
      font-size: 2rem;

    }

    input {

      width: 424px;
      margin-left: -64px;
      margin-top: 8px;
      padding: 9px 0;
      text-align: center;
      border-radius: 6px;
      border: 2px solid grey;
      font-size: 3rem;

    }

  }

}
