.searchBar{
    max-width:950px;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-left:5px;
    margin-right: 5px;
    border-bottom: 1px solid gray;
    height:175px;
    margin-bottom: 50px;
}
.icons{
    width:50px;
    height: 50px;
    padding-top:70px;
}
.compheartfriend{
    display:flex;
    align-items:center;
}
