.App header .search {
    font-size: 1.5rem;
    font-weight: 100;
    background: white;
    padding: 2.5px 50px;
    height: fit-content;
    border: 1px solid #6363ff;

    i {
        font-size: 1.5rem;
        padding: 0px;

        &.fa-search {
            margin-right: 5px;
        }
    }
}