.SearchBar {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 50px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px lightgray solid;
    justify-content: space-between;
}

.logos{
    width: 247px;
}

.instagramLogo {
    height: 100%;
    border-right: solid gray 1px;
    padding-right: 20px;
}

.instagramCursive {
    height: 150%;
    padding: 5px 0 0 15px;
}

.search {
    align-self: center;
    text-align: center;
    width: 200px;
    height: 20px;
    border: none;
    border: grey 1px solid;
    border-radius: 5px;
}

.quickNav {
    display: flex;
    min-width: 120px;
    height: 21px;
    margin-top: 10px;
    justify-content: space-between;
}

.quickNav img {
    width: auto;
    height: 100%;
}