input {
  text-align: center;
  font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 5px;
  width: 200px;
  background: whitesmoke;
  margin-top: 10px;
}
