
.search-input {
    text-align: center; 
} 

.nav-icons .far {
    margin-right: 25px; 
}

.instaLogo {
    padding-right: 15px; 
    border-right: 1px solid lightgrey; 
    margin-right: 15px; 
    width: 95%; 
}