@font-face {
    font-family: billabong;
    src: url('/instagram/src/Billabong/Billabong.ttf');
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
    align-items: center;
}

.logo-and-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-height: 50px;
    justify-content: space-between;
    width: 17%;
}

.logo-text {
    font-family: billabong;
    font-size: 2rem;
    border-left: 1px solid grey;
    padding-left: 7%;
    font-weight: normal;
}

.fa-instagram {
    font-size: 2rem;
    padding-right: 7%;
}

.search-input {
    padding:7px;
    padding-left:55px;
    width:200px;
    border:1px solid #f5f5f5;
    font-size:13px;
    color:gray;
    background-color: #FAFAFA;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat:no-repeat;
    background-position:left center;outline:0;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.icons i {
    font-size: 1.5rem;
    color: grey;
}