.search-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sprite-search {
  display: inline-block;
	background: url('https://www.instagram.com/static/bundles/base/sprite_core.png/3243a2788e25.png'); 
}

#logo {
 background-position: -98px -203px;
 width: 176px;
 height: 35px;
}

#explore {
	background-position:  -262px -358px;
	width: 22px;
	height: 22px;
}

#liked {
	background-position:  -184px -359px;
	width: 22px;
	height: 20px;
}

#profile {
	background-position:  -433px -318px;
	width: 22px;
	height: 21px;
}