/* .searchBarMainDiv {
  background: white;
  color: black;
  box-shadow: 0 0 30px -10px #777;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
} */

/* .searchBarLogoDiv {
  font-size: 2.2rem;
  color: black;
  padding: 0 1rem;
  margin-left: 4rem;
  position: relative;
  right: 18px;
} */
.searchBarLogoDiv i {
  padding: 0 1rem;
  position: relative;
  bottom: 5px;
}
/* .searchBarLogoDiv span {
  position: relative;
  bottom: 7px;
} */
/* .searchBarLogoDiv img {
  height: 2.5rem;
  width: auto;
  padding: 0 0.5rem;
  position: relative;
  top: 10px;
} */
/* 
.searchBarInputDiv input {
  border-radius: 4px;
  padding: 4px 22px;
  text-align: center;
  color: black;
} */
/* 
.searchBarLinksDiv {
  margin-right: 4rem;
} */
/* .searchBarLinksDiv ul {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  position: relative;
  top: 6px;
  right: 8px;
} */

/* .searchBarLinksDiv ul li {
  padding: 0 1rem;
  font-size: 1.6rem;
} */
