.search-bar {
    margin: 20px 0;
}

.insta-icon {
    font-size: 36px;
    margin-right: 10px;
}

.instagram-logo {
    padding-top: 5px;
    margin-left: 10px;
    width:18%;
}

.top-icons {
    font-size: 20px;
}
