.logo {
    width: 30%;
    height: 50px;
}

.icon-logo {
    display: flex;
    align-items: center;
    width: 41%;
}

.icon-logo p {
    font-size: 2.5rem;
    font-weight: 100;
    color: lightgray;
    margin: 0 2%;
}



form input {
    text-align: center;
}

.social-icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 23%;
}