.logo {
  width: 30px;
  height: 30px;
}

.line {
  height: 40px;
}

.instagram {
  width: 90px;
  height: 30px;
}

.compass {
  width: 30px;
  height: 30px;
}

.heart {
  width: 30px;
  height: 30px;
}

.person {
  width: 60px;
  height: 60px;
}
