.navBar {
    width: 96%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
} 