
/* .nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.637);
} */

/* .logo img {
  padding: 0 15px;
} */

/* .logo img:not(.instagram-font) {
  padding-bottom: 10px;
} */

/* .instagram-font {
  height: 46px;
  width: auto;
  border-left: 1px solid rgba(170, 170, 170, 0.637);
} */

/* .nav-bar form {
  padding-top: 10px;
} */

/* .nav-bar form input {
  border-radius: 2px;
  border: 1px solid rgba(170, 170, 170, 0.637);
  text-align: center;
  height: 24px;
  width: 200px;
  background-color: #ddd;
} */

/* .nav-bar form input:focus {
  outline: none;
} */

/* .nav-items {
  padding-top: 10px;
}
.nav-items img {
  padding-left: 10px;
  height: 24px;
  width: 24px;
} */