.mainDiv{
   
    display: flex;
    Justify-content: center;
    border-bottom: 1px solid rgba(226, 226, 226, 0.931);
    margin-top: 10px;



}
.instaLogo{
display:flex;
margin-right: 10px;
font-family: cursive;

}
.fa-instagram{
margin-right:5px;
margin-top:5px;
}
.searchStyle{
margin-right: 30px;
margin-left: 30px;
margin-top: 5px;
width: 150px;
height:15px;
}
.iconsStyles{
   margin-top:5px;
    width: 100px;
display:flex;
justify-content: space-around;
margin-left: 10px;



}