.SearchBar {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 50px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px lightgray solid;
    justify-content: space-between;
}

.logos{
    width: 247px;
}

.instagramLogo {
    height: 100%;
    border-right: solid gray 2px;
    padding-right: 30px;
}

.instagramCursive {
    height: 100%;
    padding-left: 18px;
}

.search {
    align-self: center;
    text-align: center;
    width: 200px;
    height: 20px;
    border: none;
    border: grey 1px solid;
    border-radius: 5px;
}

.quickNav {
    margin-top: 15px;
}