#root {
    max-width: 540px;
}

.header {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    margin: 30px;
}

.Insta-Logo-Cam{
    width: 30px;
}

.Insta-Logo-Word{
    width: 90px;
}

input {
    height: 15px;
    border-radius: 5px;
    margin-top: 3px;
}

.GPS-Button {
    height: 25px;
}

.Like-Button {
    height: 25px;
}

.Person-Button {
    height: 25px;
}