#SearchBar::-webkit-input-placeholder {
  text-align: center;
  color: lightgray;
  font-size: 16px;
}

#SearchBar:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: lightgray;
  font-size: 16px;
}

#SearchBar::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  color: lightgray;
  font-size: 16px;
}

#SearchBar:-ms-input-placeholder {  
  text-align: center;
  color: lightgray;
  font-size: 16px;
}

#SearchBar:focus::-webkit-input-placeholder { color:transparent; }
#SearchBar:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#SearchBar:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#SearchBar:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */