.Comments {
    margin: 10px 0;
}

.Comment {
    margin: 5px 0;
}

.Comment__Username {
    font-weight: bold;
}

.Comment__Text {
    margin-left: 5px;
}

.AddComment {
    border-top: 1px solid rgb(239, 239, 239);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.AddComment__Text {
    border: 0;
    width: 90%;
    margin-top: 10px;
    line-height: 200%;
}

.AddComment__Button {
    border: 0;
    height: 32px;
    margin-top: 10px;
    background-color: white;
    color: gray;
}