.comment-section {
    padding: 15px;
}
.comment-section .likes-comments .likes-comments-icons i {
    margin-right: 20px;
}
.comment-section .likes-comments .likes-comments-icons {
    margin-bottom: 15px;
}
.comment-section .likes-comments .likes-comments-stats {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.comment-section .likes-comments .likes-comments-stats p {
    margin-bottom: 5px;
}
.comment {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.comment h3 {
    font-weight: 700;
    margin-right: 10px;
}