.frm {
  margin-top: 15px;
}

.frm-ipt {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
}

.frm-ipt:focus {
  outline: none;
}

.itractns {
  width: 80px;
  height: 50px;
  margin-left: 10px;
  display: flex;
}

.itractns .lkbtn {
  width: 80px;
  height: 50px;
  margin: 10px 0px;
  background-color: rgba(255,255,255,1);
  border: none;
  cursor: pointer;
}

.itractns .lkbtn:focus {
  outline: none;
}

.itractns .cmtbtn {
  width: 80px;
  height: 50px;
  margin: 10px 0px;
  background-color: rgba(255,255,255,1);
  border: none;
  cursor: pointer;
}

.itractns .cmtbtn:focus {
  outline: none;
}

.itractns .lkbtn .lkbtn-container {
  width: 80px;
  height: 45px;
  text-align: center;
}

.itractns .cmtbtn .cmtbtn-container {
  width: 80px;
  height: 45px;
  text-align: center;
}

.itractns .lkbtn .lkbtn-container img {
  width: 100%;
  height: 100%;
}

.itractns .cmtbtn .cmtbtn-container img {
  width: 100%;
  height: 100%;
}

.lkct {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 1.6rem;
}

.pfimg {
  width: 45px;
  height: 40px;
  margin: 10px 0px 10px 10px;
  display: inline-block;
}

.pfimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postcontent-container {
  width: 80%;
  margin: 0 auto 25px auto;
}

.pstimg {
  width: 100%;
  margin: 0 auto;
}

.pstimg img {
  width: 100%;
  height: 100%;
}

.unt {
  position: relative;
  top: -13px;
  left: 20px;
  margin: 5px;
}
