.searchBar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.sbLogo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11%;
}

.searchBarInput {
  display: flex;
  align-items: center;
  text-align: center;
  width: 15%;
  height: 20px;
  border-radius: 2px;
  border: 1px solid rgb(182, 182, 182);
  outline: none;
}

.searchBarIcons {
  display: flex;
  justify-content: space-between;
  width: 11%;
  font-size: 1.6rem;
  font-weight: lighter;
  padding-right: 1rem;
}

.sbLogo hr {
  height: 30px;
  width: 1px;
}

.fa-instagram {
  font-size: 2.4rem;
  padding: 0 1rem;
}

.fa-hooli {
  font-size: 3.2rem;
  padding: 0 1rem;
}
