.SearchBar {
  margin-top: 30px;
}

.SearchBar input {
  position: relative;
  height: 30px;
  font-size: 25px;
  color: black;
  text-align: center;
  border: 2px solid black;
  width: 250px;
  left: 60px;
}
