.main-body {
	margin-top: 77px;
	/* padding-top: 60px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {
	background-color: white;
}