#root {
  background: #777;
}

.App {
  text-align: center;
  width: 640px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 640px;
  border-radius: 3px;
}

.navbar-brand img {
  width: 150px;
}

.compass, .user, .heart {
  width: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: #555;
}

.compass:hover, .user:hover, .heart:hover {
  color: #111;
}

.search-bar {
  display: flex;
  margin-right: 70px;
}

.search {
  /* margin-left: 20px; */
  margin-right: 8px;
  margin-top: 10px;
  color: darkgray;
}

.post-header {
  display: flex;
}

.post-header img {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 10px;
}

.post-title {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.comments {
  text-align: left;
  line-height: .75;
}

.heart-n-comment {
  display: flex;
  justify-content: flex-start;
}

.post-comment {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #555;
}

.post-heart {
  color: #555;
}

.post-comment:hover, .post-heart:hover {
  color: #222;
}

.likes {
  display: flex;
  margin-bottom: 10px;
  color: firebrick;
}