.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.search {
  position: relative;
  width: 200px;
  display: block;
  margin: 10px auto;
  text-align: center;
  z-index: 2;
}

.search .fas {
  position: absolute;
  top: 7px;
  left: 10px;
  font-weight: bold;
  font-style: normal;
}



.search-input {
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 30px;
  width: 100%;
  z-index: 1;
}