.comment {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment::placeholder {
    font-size: 14px;
    font-weight: bold;
    color: darkgray;
}

form {
    display: flex;
}

.comment-form button {
    background: none;
    border: none;
    font-size: 24px;
    color: darkgray;
    outline: none;
}

.comment-form button:hover {
    cursor: pointer;
}
