.user-login {
  width: 500px;
  background: rgb(196, 196, 196);
  border-radius: 6px;
  margin: 10px auto;
  padding: 10px 25px;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

h3 {
  text-align: center;;
}

.please {
  font-size: 1.2rem;
  text-align: center;
  padding: 40px 0 20px 0;
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.position-relative {
}

.btn {
  font-size: 1.2rem;
  margin-left: 95px;
  padding: 5px 20px;
}