 /* .post-container {
.post-icons {
    display: flex;
    justify-content: flex-start;
}    height: 600px;
    width: 50%;
    border: 1px solid whitesmoke;
} */

/* .post-header {
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 20px;
} */

/* .post-img {
    width: 100%;
} */

