
.login {
    background-image: url('./loginBackground.jpg'); 
    background-size: cover; 
    height: 100vh; 
    margin-top: none;  
    padding-top: 10%; 
}
.form-components{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
    
    width: 25%; 
    padding: 40px; 
    border: 10px solid black;  
    background-color: white; 
}

.loginLogo {
    display: flex; 
    align-items: center; 
}

.loginInput {
    margin-bottom: 10px; 
}

.loginLogo {
    margin-bottom: 10px; 
}