.LoginPageDiv {
    width: 100%;
    max-width: 300px;
    height: 260px;
    margin: 0 auto;
    margin-top: 200px;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    text-align: center;

}

.LoginPageDiv h2{
    margin-top: 5px;
}

.Form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 
}

.Form input {
    margin-top: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.Form button {
    margin-top: 15px;
    width: 65px;
    height: 25px;
}