.Login{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  width: 350px;
  height: 500px;

}
.fInput{
  margin: 25px;
  width: 75% ;
  height: 25px;
  border: none;
  border-bottom: 2px solid black;

}
.fInput:focus{
 outline: none;
}
.Btn{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
}
