.comment-text {
  text-align: left;
  padding: 2px;
  margin-left: 4px;
}

.comment {
  font-weight: 300;
  font-size: 14px;
}

.user {
  font-weight: 500;
  font-size: 12px;
}
.heart {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.heart:hover {
  cursor: default;
}
