.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
  background-color: rgb(184, 233, 253);
  color: #313131;
}

.login form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.username,
.password {
  box-sizing: border-box;
  height: 35px;
  width: 49.5%;
  outline: none;
  margin-bottom: 15px;
}

button {
  height: 30px;
  width: 15%;
  min-width: 100px;
  background-color: rgba(255, 153, 0, 0.712);
  outline: none;
  font-size: 1rem;
  color: #555555;
}
