.login-wrapper {
  width: 100%;
  height: 1320px;
  /* padding: 400px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}

.login-logo {
  max-height: 50px;
  margin-bottom: 10px;
  font-family: 'Grand Hotel', cursive;
  font-size: 32px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin-bottom: 55px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

.login-wrapper form input {
  width: 220px;
  height: 40px;
  margin: 10px 0;
  padding: 0 15px;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-wrapper form button {
  width: 220px;
  height: 50px;
  margin: 10px 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: blue;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
