.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.login-form {
    width: 350px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 20px 40px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form form input {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    background-color: #fafafa;
    outline: none;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    margin-bottom: 7px;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
}

.login-form form div.input-active input {
    font-size: 12px;
    padding: 14px 0 2px 8px;
}

.login-form form button {
    padding: 0 12px;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 7px;
    opacity: .3;
    cursor: default;
}

.login-form form button.can-login {
    opacity: 1;
    cursor: pointer;
}

.login-form h1 {
    background-image: url("./logoLogin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 10px;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    height: 51px;
    margin-bottom: 12px;
}

.login-form div {
    position: relative;
}

.login-form div label {
    position: absolute;
    color: #999;
    font-size: 12px;
    height: 38px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
    width: 100%;
    text-align: left;
}

.login-form .forgot-password {
    font-size: 12px;
    line-height: 14px;
    margin-top: 20px;
    text-align: center;
    color: #003569;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
}

.login-form .forgot-password:active {
    opacity: .5;
}

.login-form form div.input-active label {
    -webkit-transform: scale(.83333) translateY(-10px);
    transform: scale(.83333) translateY(-10px);
}