.Login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 0 0 148px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	height: 275px;
	background: white;
	padding: 32px 40px 0;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin-bottom: 10px;
}

#logo-word {
	background-position: -98px -150px;
	width: 175px;
	height: 51px;
	margin-bottom: 12px;
}

.username-input,
.password-input {
	width: 100%;
	height: 38px;
	background: #fafafa;
	padding: 9px 8px 7px;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-bottom: 6px;
	outline: none;
}

.login-form ::placeholder {
	font-size: 1.2rem;
}

.login-button {
	width: 100%;
	height: 28px;
	font-weight: 600;
	color: white;
	background: #3897f0;
	border: none;
	border-radius: 3px;
	margin-top: 8px;
	cursor: pointer;
}

.login-button:disabled {
	color: #fdfeff;
	background: #c4e0fa;
	cursor: default;
}

.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 70px;
	background: white;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
}

.forgot-password {
	font-size: 1.2rem;
	text-decoration: none;
	color: #003569;
	margin-top: 20px;
}

.signup-link {
	text-decoration: none;
	color: #3897f0;
}
