*{
    box-sizing: border-box;
}
.page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, palevioletred, #FFEE58);
    border: solid pink 1px;
}
.login {
    height: 150px;
    width: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto auto;
}

.btnlog{
    border-radius: 5px;
    width: 75px;
    height: 30px;
    background: linear-gradient(to bottom right, #FFEE58, palevioletred);
    color: white;
    border: none;
    outline: none;
    box-shadow: 0px 0px 8px 2px inset rgba(0, 0, 0, 0.2), 0px 6px 20px 0px  rgba(0, 0, 0, 0.19);
}

.boop {
    border-radius: 5px;
    width: 75px;
    height: 30px;
    background: linear-gradient(to bottom right, #FFEE58, palevioletred);
    color: white;
    border: none;
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgba(0, 0, 0, 0.19);
}

.form {
height: 120px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.instaplog {
    font-family: 'Lobster Two', cursive;
    font-size: 300%;
    height: 50px;
    width: 150px;
    /* border: solid black 1px; */
    margin: 100px auto 0;
}


.usernamelog, .password {
    height: 25px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}