.login {
    background-color: #fafafa;
    height: 100vh;
    padding: 100px;
}

.login-container {
    width: 330px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 40px;
    background-color: white;
}

.login-logo {
    height: 80px;
    margin-bottom: 20px;
}

.login-input {
    background-color: #fafafa;
    font-size: 1.2rem;
    padding: 8px;
    margin: 5px 0;
    width: 250px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.login-btn {
    background: #3897F0;
    padding: 5px;
    margin: 10px 0;
    width: 250px;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}