.login--form{
  width: 50rem;
  margin: 7rem auto;
}

.login--form form {
  display: flex;
  flex-direction: column;
}

.login--form input {
  all: unset;
  padding: 2rem;
  font-size: 1.4rem;
  border: 1px solid gray;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.login--form input:active,
.login--form input:focus {
  background-color: lightyellow;
}

.login--form button {
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  background-color: lightgray;
  border-radius: .5rem;
}

.login--form button:hover {
  color: darkgray;
  background-color: white;
  border-color: darkgray;
}

.login--form button:active {
  background-color: cyan;
}

.login--hint {
  margin: 2rem;
  list-style: square inside;
  font-size: 1.2rem;
  color: gray;
}