.login-card {
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 190px;
    border: 1px solid rgb(223, 223, 223);
}

.login-card img {
    width: 225px;
    padding-top: 30px;
}

.login-card input {
    width: 275px;
    height: 30px;
    padding-left: 5px;
    margin-top: 10px;
}

.login-card button {
    width: 285px;
    background-color: rgb(56, 151, 240);
    border-color: #3897f0;
    color: white;
    margin-top: 20px;
    height: 29px;
    box-shadow: none;
}

.login-card p {
    margin-top: 30px;
}

.login-card a {
    text-decoration: none;
    color: rgb(0, 53, 105);

}