.login-page {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("./1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-page h1 {
  color: white;
  text-align: center;
  font-family: "Unica One", sans-serif;
  font-size: 60px;
  font-weight: bold;
  padding: 20px;
  margin-top: 0px;
  box-shadow: 0px 5px 20px rgb(175, 175, 175);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.login-page h3 {
  text-align: center;
  margin-top: 40px;
  color: white;
  font-size: 30px;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  background-image: url("./poligram.jpg");
  margin: 0% auto;
  margin-top: 78px;
  border-radius: 10px;
  padding: 0px 20px 10px;
}

.login button {
  text-decoration: none;
  border: none;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
  color: black;
  white-space: nowrap;
  font-family: "Unica One", sans-serif;
  width: 40%;
  font-size: 25px;
  outline: none;
  background-color: #f7f7f7;
}

.login button:active {
  background-color: #000000;
  color: white;
  outline: none;
}

.login-input {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
  padding: 25px 0 20px;
  width: 80%;
  border-bottom: 1px solid white;
  margin: 10px 40px;
  text-indent: 125px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.circle {
  display: flex;
  justify-content: center;
}

.fa-chevron-down {
  z-index: 1;
  background: #f7f7f7;
  position: fixed;
  object-position: center;
  top: 440px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 10px 1px;
  width: 48px;
  display: block;
  box-shadow: 0px 4px 7px rgb(175, 175, 175);
}

/* Social Boxes */

.social-box {
  padding: 50px 20px;
  margin: 13px -20px -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f7f7f7;
  border-radius: 0px 0px 10px 10px;
}

.inner-social-box-facebook {
  display: flex;
  align-items: center;
  background-color: #5185c6;
  padding: 10px 15px;
  margin: 15px 0;
  width: 70%;
  border-radius: 10px;
}

.inner-social-box-twitter {
  display: flex;
  align-items: center;
  background-color: #47b1f3;
  padding: 10px 15px;
  margin: 10px 0;
  width: 70%;
  border-radius: 10px;
}

.fab {
  color: white;
  font-size: 25px;
  padding: 0 15px;
}

.fa-twitter {
  padding: 0 3px;
}

.social-text {
  color: white;
  margin: 0 auto;
  font-size: 14px;
}
