.LogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    max-width: 45rem;
  }
  
  .form {
    width: 100%;
    padding: 5rem 3rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
  }
  
  .form__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .form__input {
    width: 100%;
    display: block;
    padding: .8rem 2rem;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-size: inherit;
    color: inherit;
  }
  
  .form__input:focus {
    outline: none;
    border-color:#cdcdcd;
  }
  
  .form__input::placeholder {
    color: #aaa;
  }
  
  .button {
    width: 100%;
    display: block;
    border-radius: 3px;
    border: 1px solid #64B5F6;
    font-size: inherit;
    padding: 1rem 2rem;
    background-color: #64B5F6;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
  }
  
  .button:hover {
    background-color: hsl(207, 89%, 60%);
  }
  
  
  .Header__nav-brand--big {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #212121;
    /* color: transparent;
    background-image: linear-gradient(to right, #f44336, #9C27B0);
    -webkit-background-clip: text; */
  }
  
  .Header__nav-brand--big i{
    font-size: 5rem;
    border: none;
    padding: 0;
    color: transparent;
    background-image: linear-gradient(to right, #f44336, #9C27B0);
    -webkit-background-clip: text;
  }