/* //PostContainer css */
.header {
  display: flex;
  margin-left: 17%;
  margin-bottom: 15px;

}

.userName {
  margin-left: -4%;
  margin-top: 14px;
}

.thumbnail img{
  width: 30%;
  border: 1px solid transparent;
  border-radius: 30px;
}

.likes {
  text-align: left;
  margin-left: 22%;
}
