.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.input-field{
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    width: 200px;
    line-height: 1.2;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.login-button{
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}