.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

.searchBar .instaLogo {
  margin-left: 15px;
  font-size: 1.75rem;
}

.searchBar input {
  height: 15px;
  width: 200px;
  text-align: center;
}

.searchBar .instaIcons {
  font-size: 1.5rem;
}

.searchBar .instaIcons i {
  margin-right: 15px;
}