.loginPage {
    max-width: 500px;
    margin: 5rem auto;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ECEEEE;
    
}
.loginWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    
    margin: 2rem auto;
    max-width: 70%;
}
.inputField {
    width: 100%;
    margin: 1rem auto;
}
.inputField input {
   width: 100%;
    height: 2rem;
    font-size: 1rem;
}
.loginPage button {
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(91, 191, 181);
    color: white;
}