.comment-text {
    text-align: left;
    padding: 5px;
    margin-left: 4px;
  }
  
  .comment {
    font-weight: 300;
    font-size: 14px;
  }
  
  .user {
    font-weight: bold;
    font-size: 12px;
  }

  .comment-submit {
    border: 1px solid white;
    border-top: 1px solid #EEEEEE;
    width: 97%;
    padding: 15px 5px;
  }