.CommentSection{
  width: 100%;
 margin: auto;
}

input{
    margin: 20px;
}
 
.Comment {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
 border: 2px solid dodgerblue;
   }

.Comment p {
    margin: 10px;
}
.name {
    font-size: 20px;
}