header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  background: #fff;
}

.container {
  margin: 0 auto;
}

.main-header {
  width: 1010px;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 26px;
}

.main-header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo .logo-mark {
  width: 24px;
  height: 24px;
}

.logo .logo-type {
  width: 103px;
  height: 29px;
  margin-top: 7px;
}

.logo .divider {
  width: 1px;
  height: 28px;
  margin: 0 16px;
  border: 0.5px solid #262626;
}

.main-header form {
  width: 215px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header .search {
  width: 100%;
  height: 100%;
}

.main-header form input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fafafa;
  text-align: center;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.main-header form input::placeholder {
  opacity: 0.8;
  /* padding-left: 9px; */
}

.main-header form .glass {
  height: 10px;
  width: 10px;
  opacity: 0.5;
  background-image: url('../assets/magnifiying-glass.png');
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 70px;
  margin-top: 9px;
  z-index: 2;
}

.main-header .main-nav {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1%;
}

.main-header .main-nav .discover {
  border: 0;
  background: transparent;
}

.main-header .main-nav .likes {
  border: 0;
  background: transparent;
}

.main-header .main-nav .profile {
  border: 0;
  background: transparent;
}

.main-header .main-nav .discover img {
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.main-header .main-nav .likes img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.main-header .main-nav .profile img {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.main-header .main-nav button {
  outline: none;
}

.hide {
  display: none;
}
