/*#region*/
/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#endregion CSS RESET END **/

/*SearchBar*/
.inputform {
    width: 300px;
    height: 50px;
}

/*PostContainer*/
.postCard {
    display:flex;
    flex-direction:column;
    width:100%;
    margin:15px auto 10px auto;
    border: 2px solid black;
}

.card-header {
    display:flex;
    align-items: center;
    height:50px;
}

.card-body {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.card-thumbnail {
    width:25px;
    height:25px;
    margin-right:10px;
}

.card-image {
    width:90%;
    height:65%;
}

/*CommentSection*/
.commentSection {
    display:flex;
    flex-direction:column;
    width:100%;
}

.commenting {
    display:flex;
    flex-direction:column;
    width:80%;
    margin:auto;
}

.commenting input {
    margin:5px;
}

/*Comment*/
.comments {
    text-align: left;
    margin: 5px 0 5px 0;
}

.comments span {
    font-size:1rem;
    font-weight:bold;
    margin-right:5px;
}
.comments p {
    font-size:.85rem;
}