#searchBar {
  font-size: 24px;
  margin-top: 50px;
  border: 10px;
}

.thumb-image {
  border-radius: 50%;
  border: 2px solid blue;
  max-width: 50px;
  max-height: 50px;
  margin-left: 10px;
  margin-right: 10px;

}

.username {

}

.post-image {
  height: 600px;
  width: 600px;
}

.test {
  width: 600px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  justify-content: flex-start;
}

.test-2 {
  width: 500px;
}

.like-selected {
  color: red;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
}
