.instagram-logos {
    width: 19%;
    display: flex;
    justify-content: space-between;
  }
  
  .instagram-logo-text {
    width: 14.1rem;
    height: 5.5rem;
  }
  
  .header-icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    padding-right: 16px;
    color: #9E9E9E;
  }