.postContainer-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: fit-content;
    margin-left: 20px;
    align-items: center;
}

.postContainer-header-img {
    border-radius: 100%;
    height: 50px;
}


.postContainer-header-user {
    margin-left: 10px;
}

.post-content-footer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 13%;
}

.post-nav-icons {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.post-nav-TextBubbelIcon {
    margin-left: 7px;
}