.PostContainer {
  width: 1010px;
  margin: 40px auto;
}

.post {
  width: 642px;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fff;
}

.post .post-header {
  widows: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  /* padding-left: 30px; */
  /* background: #fff; */
}

.thumbnail img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.post-header h6 {
  font-size: 0.9rem;
  color: #262626;
  margin: 0;
  font-weight: 800;
  margin-top: -2px;
}

.post .ui-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 135px;
  padding: 10px 10px;
  margin-bottom: -18px;
  /* margin: 20px 10px; */
}

.post .ui-controls button {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.post .ui-controls .heart {
  width: 24px;
}

.post .ui-controls .comment {
  width: 24px;
}

.post .ui-controls .send {
  width: 24px;
}

.post .likes {
  color: #262626;
  font-weight: 800;
  font-size: 1rem;
  background: transparent;
  border: 0;
  font-stretch: 100%;
  margin: 20px 0px 0px 20px;
  font-variant-numeric: tabular-nums;
}

.post .comments {
  min-width: 80%;
  margin: 0 20px;
  color: #262626;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -10px;
  border-bottom: 1px solid #bfbfbf46;
}

.post .comments .username {
  font-weight: 800;
}

.comments .timeline {
  font-size: 0.8rem;
  color: rgb(157, 157, 157);
  font-weight: 600;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-a-comment {
  width: 80%;
}

.add-a-comment input {
  height: 55px;
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  background: transparent;
}

.add-a-comment input::placeholder {
  color: #bfbfbf;
  font-weight: 500;
}

.more {
  border: 0;
  background: transparent;
  font-size: 0.8rem;
  padding-right: 20px;
  outline: none;
  cursor: pointer;
  color: #262626;
}
