.mainContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 4%;

}

.postHeader {
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.postHeader .profilePic {
    padding-left: 2%;
}

.postHeader .profileName {
    padding-left: 2%;
    font-size: 1rem;
}

.mainContain .mainPicContain {
    width: 50%;   
    height: 300px;
    border: 1px solid black;
}
