.postContainer {
    border: 1px solid black;
    margin: 30px 0;
    width: 100%;
}

.posterImg {
    width: 100%
}

.actionIcons {
    width: 100%;
}

.actionIcon {
    height: 30px;
    width: auto;
}