header{
    display:flex;
    flex-direction: row;
    height:50px;
    align-items: center;
    
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
    padding:20px;
    
    
}
header div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
header img {
    width: 50px;
    height:100%;
}

.container {
    width:20%;
}

