.app {
  // border: 1px solid blue;
  // background-color: snow;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  .all-posts {
    margin-top: 50px;
  }
}
