.commentDiv{
    width: 100%;
    margin: 0 2%;


.postedCommentContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: start;

    .userName {
        font-size: 100%;
        margin: 2.5px 1% 2.5px 0;
        
    }

    .commentText {
        font-size: 100%;
        margin: 2.5px 0 2.5px 0;
    }
}

.newCommentDiv {

    
    width: 96%;
    margin: 0 auto;

        .commentInputField {
            border: none;
            height: 50px;
            font-weight: bold;

           }

           form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;
        }
}

}

