.comment-section {
  border: 1px solid green;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .comment {
    border: 1px solid yellow;
    widht: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    .user {
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .comment {
      margin-left: -70px;
      text-indent: 70px;
    }
  }
  .timestamp {
    border: 1px solid orange;

  }
}
