/*

 .character-container{
	width: 400px;
	margin: 0 auto;
}

*/

.feed-container {
	width: 800px;
	padding: 0 5%;
	margin: 0 auto;
}

@media (max-width: 768px) {
  .feed-container {
    width: 600px;
  }
}