body {
    background: rgb(235, 235, 235);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.postContainerDiv {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: flex-start;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  

    p {
        margin-left: 2%;
    }

    .userHeading {
        display: flex;
        align-items: center;

        .userImage {
            border-radius: 50%;
            height: 30px;
            margin-right: 15%;
        }

        p {
            font-weight: bold;
        }
    } // End user heading

.imageURL {
    width: 100%;
    height: 640px;
    margin-bottom: 10px;
}

.timeStamp {
    color: lightgrey;
    margin-left: 2%;
    margin-top: 8px;
    font-weight: bold;
}


.newCommentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;

        .commentInput {
            border: none;
            height: 50px;
            font-weight: bold;
            
}
}


.likes {
    color: rgb(75, 75, 75);
    font-weight: bold;
}

} // Post Container End