.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.thumbnail-img {
    border-radius: 50%;
    width: 30px;
}

.user, .likes {
    font-weight: bold;
}