.post-container {
  border: 1px solid lightgray;
  background-color: white;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 4px 10px gray);
  .row {
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
  }
  .heart, .bubble {
    width: 25px;
    height: 25px;
    margin: 5px;
    &:hover{
      cursor: pointer;
    }
  }
  .thumbnail{
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  .username {
    // border: 1px solid red;
    font-weight: bold;
    margin: 5px;
  }
  .main-photo {
    // border: 1px solid black;
    width: 100%;
    height: auto;
  }
  .likes {
    margin: 5px;
  }
  .add-comment {
  // border: 1px solid purple;
    height: 25px;
    margin: 10px 5px;
  }
}
