.posts {
    @media (max-width: 768px) {
        flex-direction: row;
    }
}

.post {
    border: 1px solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;

    .comments, .stats {
        margin: 0 25px;
    }

    .comment-input {
        border: none;
        margin-bottom: 15px;
        width: 100%;
    }

    .likes {
        margin-top: 5px;
    }

    .likes, .user {
        font-weight: bold;
    }

    .post-header {
        margin: 15px 15px 0;
    }

    .post-img {
        margin: 15px 0;
    }

    .thumbnail-img {
        border-radius: 50%;
        margin-right: 10px;
        width: 30px;
    }
}