/*
h2{
  font-size: 1.8rem;
  width: 100%;
  background-color: lightgrey;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-container{

  width: 100%;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 40px 0;
  padding: 10px;

  .header {
    //char name
    font-size: 3rem;
    width: 100%;
    margin-bottom: 20px;
  }

  .bio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

    p{
      width: 50%;
      font-size: 1.6rem;
      text-align: left;
      margin-top: 5px;
    }
  }

  .xenobiology-container {
    width: 100%;
    margin-bottom: 20px;
    div{
      font-size: 1.6rem;
      margin-top: 10px
    }
  }

  .starships-container{
    width: 100%;
    margin-bottom: 20px;
    div{
      font-size: 1.6rem;
      margin-top: 10px
    }
  }
  
  .vechiles-container{
    width: 100%;
    margin-bottom: 20px;
    div{
      font-size: 1.6rem;
      margin-top: 10px
    }
  }
        
  .films-container{
    width: 100%;
    div{
      font-size: 1.6rem;
      margin-top: 10px
    }
  }
}
*/