.search-bar {
    display: flex;
    height: 40px;
    justify-content: center;
    position: fixed;
    width: 100%;

    .d-none {
        display: none;
    }

    form {
        display: flex;
        align-items: center;
        position: relative;
        i {
            left: 60px;
            pointer-events: none;
            position: relative;
            z-index: 2;
        }
    }

    .search {
        border-radius: 5px;
        background: whitesmoke;
    }
}