.search-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.logo-set {
  display: flex;
  width: 300px;
  height: 100px;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  padding-right: 25px;
  border-right: 1px solid grey;
}

.wordmark {
  margin-left: 25px;
  padding-top: 10px;
  width: 200px;
  height: 50px;
}

.search {
  border-radius: 6px;
  border: 1px solid rgb(223, 223, 223);
  background: rgb(243, 243, 243);
  width: 250px;
  height: 30px;
}

input {
  padding: 3px;
  text-align: center;
  font-size: 1.8em;
}

.icon-set {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.like-icon {
  width: 30px;
  height: 30px;
}
