.main-container{
    .search-bar-container{
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-flow: columns wrap;
        padding: 10px;

        .logo{
            border: 1px solid blue;
            display:flex;
            flex-flow: columns wrap;

            .logoBox{
                width: 30px;
                height: 30px;
            }
            
            .logoTxt{
                height: 30px;
            }
        }
    }
}