.search-bar {
    background: whitesmoke;
    display: flex;
    height: 40px;
    justify-content: center;
    position: fixed;
    width: 100%;

    .fa-instagram {
        margin-top: 2px;
    }

    form {
        align-items: center;
        display: flex;
        position: relative;
        i {
            left: 60px;
            pointer-events: none;
            position: relative;
            z-index: 2;
        }
        .search {
            background: white;
            border-radius: 5px;
            width: 80%;
        }
    }

    .btn-container {
        align-items: center;
        display: flex;
        left: -10px;
        position: relative;
        
        button {
            border-radius: 5px;
        }
    }
}