.search-main {
  border: .5px solid lightgray;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
.search-bar {
  border: .5px solid gray;
  background-color: snow;
  width: 100%;
  height: 25px;
  margin: 10px;
  text-align: center;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 15px;
  &:hover{
    cursor: pointer;
  }
}

.insta-logo-word {
  height: 20px;
  margin: 10px;
  padding-left: 15px;
  border-left: 1px solid gray;
  &:hover{
    cursor: pointer;
  }
}
