
.comment-input {
    border: 2px solid #ecf0f1;
    padding: 20px 0;
    width: 100%;
}

.comment-container {
    margin-left: 20px;
}

.icons {
    font-size: 25px;
    margin: 10px 0;
}

.comment {
    margin-left: 25px;
}