.search-bar-wrapper {
    border-bottom: 1px solid #3333;
    height: 80px;
    line-height: 70px;
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
  }
  
  .headerbar{
      height:60px;
      margin-left: 20px;
      margin-top: 10px;
  }
  
  .social{
      height:30px;
  }

  
 .social-wrapper{
  display:flex;
  padding-right: 40px;
   
 } 

 .social{
     margin-left: 30px;
 }

 .instalogo{
     border-right:1px solid black;
     padding: 5px;
 }

  .input{
      height:30px;
      width:150px;
      border-radius:5%;
      border:1px solid black;
      font-size: 15px;
  }
  