.searchHeader {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 10px;
}
.searchHeader .instaLogo {
    height: 25px;
}
.searchHeader .searchBar {
    text-align: center;
}
.searchHeader .searchButtons {
    display: flex;
    justify-content: flex-start;
    width: 50px;
}
.searchHeader .searchButtons img {
    height: 25px;
}
.searchHeader .searchButtons .searchHeart {
    padding-left: 20px;
}
