.comment-section{
  margin-left: 10px;
}

.comment-section .icon-bar{
  width: 10%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-section .icon-bar .icon{
  font-size: 2.5rem;
}

.comment-section .icon-bar .icon-flipped{
  transform: rotateY(180deg);
}

.comment-section .likes{
  margin-top: 10px;
  font-size: 2rem;
}
