.searchHeader {
    width: 100%;
    max-width: 97rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7rem;
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 0 1.6rem;
    margin: 0 auto;
}

.branding {
    display: flex;
    align-items: center;
}

.instaCam {
    width: 3rem;
    height: auto;
    margin-right: 1.8rem;
}

.instaScript {
    padding: 0.5rem 2rem;
    border-left: 1px solid black;
    
}
.searchInput {
    background-image: url('../../img/insta_search.png');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    padding: 0.5rem;
    text-align: center;
    width: 24rem;
    line-height: 2.4rem;
    border: 0.1rem solid lightgray;
    border-radius: 0.6rem;
    /* margin-left: 1rem; */
}

.searchIcons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;;
}

.searchIcons img {
    margin-right: 2.5rem;
}