.search-container {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 40px;
}

.search-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

img {
    display: flex;
    width: 25px;
    height: 25px;
}

h1 {
    font-family: "Charmonman";
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
}

h2 {
    font-size: 40px;
    margin: 0px 10px;
}

.icon-content{
    margin-right: 70px;
}
.compass,
.heart,
.user {
    margin-right: 15px;
    font-size: 25px;
    color: gray;
}

input {
    position: relative;
    border: 1px solid transparent;
    height: 30px;
    padding: 1px 10px 1px 15px;
    text-align: center;
    font-size:15px;
    background-color:whitesmoke;
}

.search {
    z-index:1;
    text-align: center;
    position: relative;
    font-size:10px;
    left:75px;
    margin-bottom: 1px;
    color: gray;
}

hr {
    width:100%;
    border:1px solid rgba(220, 220, 220, 0.5);
}