.commentSection {
    display: flex;
    flex-direction: column;
}

i {
    color: black;
    margin-right: 20px;
    font-size: 24px;
}

.comment-icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 10px;
}

.likes {
    font-weight: bold;
    font-size: 14px;
    align-self: flex-start;
    margin-left: 3%;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
}

.timestamp {
    font-size: 12px;
    align-self: flex-start;
    margin-left: 3%;
    color: gray;
}

.addComment {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-bottom: 40px;
}

.addComment input {
    height: 20px;
    font-size: 14px;
    border: none;
}

.fa-heart:hover {
    color: red;
}