.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgreen;
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
}

.loginForm input[type='text'],
.loginForm input[type='password'] {
  height: 20px;
  width: 300px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.loginForm input[type='submit'] {
  margin-bottom: 15px;
}
