.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-field, .password-field, .login-button {
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: grey;
    margin: 10px 0; 
}

.username-field {
    margin-top: 20px;
}

.login-button:hover {
    cursor: pointer;
    background: grey;
    color: white;
}