.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.comment {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

h1 {
  font-size: 20px;
  margin: 0 10px;
}

.new-comment {
  height: 35px;
  align-self: center;
  width: 80%;
  margin-bottom: 10px;
}