.card {
    max-width: 604px;
    width: 100%;
    height: auto;
}
 .card span {
    font-weight: bold;
}
.username{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.username .thumbnail{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.username p {
    font-weight: bold;
    margin-left: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post-img {
    width: 100%;
    height: 427px;
}
.icons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.icons .fa-heart{
    margin-left: 3%;
}
.icons .comment {
    margin-left: 3%;
}
.icons p {
    display: block;
}
.likes {
    margin-left: 3%;
    text-align: left;
    font-weight: bold;
} 