.commentSection {
    padding: 0 1.8rem;
    text-align: left;
}

.comment {
    font-size: 1.6rem;
    line-height: 2rem;
}

.commentUser {
    font-size: 1.5rem;
    font-weight: bold;
}

.commentText {
    padding-left: 0.5rem;
}

.timeStamp {
    width: calc(100% - 3.6rem);
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
    padding: 1rem 0;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}
.newCommentSection {
    width: calc(100% - 3.6rem);
    padding: 0.5rem 0;
    margin: 0 auto;
    line-height: 4rem;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    border: none;
    line-height: 4rem;
}

.newCommentSection button {
    font-weight: bold;
    line-height: 4rem;
    background-color: white;
    border: none;
}