.comments-content{
    font-size: .75rem;
    display: flex;
}

.comments-content h5{
    font-weight: bold;
    margin-right: .2rem;
}

.comments-content p {
    margin-bottom: .5rem;
}

.comment-input {
    width: 100%;
    border: 0px;
    border-top: 1px solid gray;
    padding: 1rem 0;
    font-size: .7rem;
    font-weight: bold;
}

.time {
    font-size: .55rem;
    color: gray;
    margin-bottom: .5rem;
    margin-top: .2rem;
}