
.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-section h3, .comment-section p {
    text-align: left;
}

.comment-block {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.comment {
    display: flex;
    align-items: center;
}

.comment h3 {
    padding-right: .5rem;
}