.comment__text {
  margin-bottom: 5px;
}

.comment--bold {
  font-weight: bold;
}

.comment__input {
  margin: 0;
  padding-left: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #e7e7e7;
  border: none;
  color: #666;
}