.comment {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 20px;
}

.username {
  font-size: 1.2rem;
}

.text {
  font-size: 1.2rem;
  text-align: left;
  margin: 0 5px;
}