.comment-instance {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}
.comment-instance p {
  margin-right: 10px;
}
.comment-instance span {
  font-weight: bold;
  cursor: pointer;
}
.comment-instance img {
  height: auto;
  width: 20px;
  cursor: pointer;
}