.comment {
    margin-bottom: 5px;
    border: 1px solid red;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comment:hover .comment__close{
    display: block;
   
    justify-content: space-between;
}

.comment__name {
    font-weight: bold;
    border: 1px solid red;
}

.comment__close {
    display: none;
}

.comment__close:hover {
   color: red;
}

.comment__content {
    padding-right: 20px;
    border: 1px solid red;
}