.Post {
    width: 650px;
    border: 1px solid #ECECEC;
    text-align: center;
}

.PostHeader {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.PostHeader img {
    border-radius: 50%;
    display: inline;
    height: 30px;
    width: 30px;
}

.PostImage {
    width: 100%;
}