.post {
    display: flex;
    flex-direction: column;
}

.profile img {
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.picture img {
    width: 100%;
}

.likes {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.icons i {
    font-size: 20px;
}

.icons {
    margin-top: 10px;
}