

.new-comment-section{
    display:flex;
    justify-content: space-between;
    align-items: baseline;   
    border-top:1px solid #ccc;
    width: 95%;
    margin:0 auto;
    margin-bottom:18px;
}
.new-comment-add{
    margin-top:23px;
    font-size:1rem;
}
.new-comment-tools{
    font-size: 1rem;
}