.thumbImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0 1rem;
}
.userNameContent {
    display: flex;
    align-items: center;
}
.postImg {
    width: 100%;
}
.likesPostImg {
    text-align: left;
    margin-top: 0.3rem;
    line-height: 1.5rem;
    padding-left: 1rem;
}
.fa {
    padding-right: 1rem;
}
.commentSection {
    padding-left: 1rem;
    margin-right: 1rem;
}
.dateStamp {
    text-align: left;
    padding-left: 1rem;
    color: gray;
    font-size: 0.7rem;
}
.footerCom {
    display: flex;
    justify-content: space-between;
    color: gray;
    padding-left: 1rem;
    margin:   0 1rem 1rem 0;
}

hr {
    width: 90%;
}
input{
    
    width: 80%;
}