/* .logo {
    max-width: 100%; 

} */





/* .credentials h1 {
    margin:10px;
    font-size: 3vw;
} */

/* .loginPage {
    margin: 0 auto;
    border: 4px inset #BD3381;
    padding: 10px;
} */

/* .passwordInput {
    background:black;  
} */
