.login{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 70%;
}

h2{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 50px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.login-input{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.input-label{
    align-self: center;
    width: 45%;
    padding-right: 5px;
    text-align: end;
    font-size: 2.4rem;
}

.input-box{
    width: 45%;
    height: 30px;
    font-size: 2.4rem;
    border-radius: 5px;
    outline: none;
}

.submit-button{
    width: 30%;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 2.4rem;
    border-radius: 10px;
    color: black;
    background-color: white;
    outline: none;
    border: 2px solid black;
}

.submit-button:hover{
    color: white;
    background-color: black;
}

.input-info{
    align-self: center;
    margin-top: 50px;
    font-size: 3.2rem;
    color: red;
}