/* .App {
    margin: auto;
} */

/* .posts-container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.post-container {
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 50px;
} */

/* .post-head {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 5px;
}

.post-img {
    width: 100%;
}

.post-footer {
    width: 95%;
    margin: auto;
} */
