.login {
  width: 50%;
  margin: 0 auto;
}
.tag {
  font-size: 0.9em;
  color: #000;
  font-weight: 100;
  margin-left: 0.7rem;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
  font-size: 0.9em;
  color: #000;
  font-weight: 100;
  width: 94.5%;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 0.8em;
  border: 2px solid #76b852;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

input.email,
input.text.password,
input.text {
  margin-bottom: 2em;
}

.login input[type="submit"] {
  font-size: 0.9em;
  color: #fff;
  background: #76b852;
  outline: none;
  border: 1px solid #76b852;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  width: 100%;
  margin: 2em 0;
  letter-spacing: 4px;
}

.login input[type="submit"]:hover {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  background: #8dc26f;
}
