.login {
    width: 20vw;
    margin: auto;
    display: flex;
    flex-direction: column;

    margin-top: 80px;
    background: orangered;
    padding: 40px 60px;
    height: 500px;
    justify-content: center;
}

input {
    width: 100%;
    margin-bottom: 20px;
    align-self: center;
    padding: 15px;
}