.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.allPosts {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  margin: auto;
  max-width: 100%;
}

img {
  display: flex;
}

.allPosts .post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.allPosts .post .postHeader {
  display: flex;
  padding: 1rem;
}
