.App {
  text-align: center;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



img {
  display: flex;
}

.commentSection {
  background-color: beige;
  padding: 1rem;
}

.heart {
  display: flex;
  align-self: center;
  margin: auto;
  width: 2rem;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.user-dashboard h2 {
 display: flex;
 font-size: 1rem;
}

.user-dashboard button {
  display: flex;
  justify-content: center;
  align-self: baseline;
  height: 2rem;
  width: 30%;
  font-size: .7rem;
}
