.signup-login-page{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    width:100%; 
    height: auto; 
    border: 1px solid lightseagreen; 
    margin: auto; 
}

.login-box{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin: auto; 
    width: 350px; 
    height: 350px; 
    border: 1px solid black; 
}
.signup-box{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: auto; 
    width: 350px; 
    height: 350px; 
    border: 1px solid red; 
}
h1{
    font-size: 25px; 
    text-align: center; 
    color: lightsalmon;
}
.input-login{
    margin: 10px 0; 
    width: 200px; 
    height: 20px; 
}
.sign-user{
    margin: 10px 0; 
    width: 200px; 
    height: 20px; 
}
button{
    width: 75px; 
    height: 15px; 
    margin: 10px 0; 
}
a{
    text-decoration: none; 
    color: black; 
}