.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.icon-cam{
    padding: 5px 3% 5px 10px;
    border-right: 1px solid black;
}

.name{
    width: 35%;
    margin-left: 3%;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.search-con{
    width: 30%;
    margin-left: 3%;
}

.search-input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.search-input::placeholder{
    text-align: center;
    font-size: 1.8rem;
}

.input-icon{
    position: relative;
    top: 21px;
    left: 75px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 32%;
    font-size: 1.3rem;
}

.far{
    margin: 0 5%;
}