
.post-cta-image {
  padding: 10px 0;
  width: 600px;
}
.post-content {
  padding: 5px 0 0 18px;
}
.icon-container {
  display: flex;
  flex-direction: column;
}
.post-icons svg{
  padding: 0 15px 0 0;
  font-size: 23px;
}
.post-icons svg:hover {
  cursor: pointer;
  color: navy;
}
.post-likes {
  font-size: 14px;
  padding: 5px 0;
}

.post-time {
  color: gray;
  font-size: 12px;
  padding: 10px 0 15px 15px;
}
