.posts-container-wrapper {
    height: 350px;
    width: 40%;
    margin: 1px auto;
}

.post-border {
    border: 1px solid black;
}

.post-header {
    width: 100%;
  display: flex;
}

.post-image {
    height: 100%;
    width: 100%;
}