/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */





/* .App {
  border: 1px solid;
} */
.search-bar-container {
  border: 1px solid;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.search-bar-container .title-images{
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.search-bar-container .title-images .logo{
  width: 15%;
  height: 15%;
}
.search-bar-container .title-images .line-break {
  width: 1px;
  height: 25px;
  background-color: black;
}
.search-bar-container .title-images .title{
  width: 60%;
  height: 100%;
}
input{
  height: 25px;
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(247, 244, 244);
}
.search-bar-container .title-icons{
  /* border: 1px solid; */
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}