.new-comment-container .timestamp{
    font-size: 12px;
    opacity: 0.5;
    margin: 10px;
}

.new-comment-container .new-comment{
    width: 90%;
    margin: 10px;
    padding: 15px 0;
    border: none;
    border-top: 1px solid lightgray;
    font-size: 14px;
}