.search-master-cont{
    margin-left: 20px;
}

.search-cont{
display: flex;
justify-content: space-between;
}

.line-break{

}

.img-container{

}

.fa-instagram{

}

.instagram-text{

}

.search-container{

}

.int-buttons-cont{

}