.home-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  .side-bar {
    position: fixed;
    right: 140px;
    width: 300px;
    .suggestions {
      margin-top: 12px;
      border: 1px solid #e6e6e6;
      .suggestions-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .suggestions-content {
        margin-top: 8px;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 0 solid #000;
      }
    }
    .stories {
      margin-top: 4px;
      border: 1px solid #e6e6e6;
      .stories-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
        padding-top: 4px;
        padding-left: 16px;
        padding-right: 16px;
      }

      .stories-content {
        margin-top: 8px;
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 0 solid #000;
      }
    }
    .loggedin-user {
      display: flex;
      padding: 10px 10px;
      justify-content: baseline;
      .username-container {
        text-align: center;
        padding: 10px 0;
      }
      h1 {
        color: #262626;
      }
      small {
        font-size: 10px;
        text-align: center;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-right: 10px;
      }
    }

    @media #{'(max-width: 500px)'} {
      display: none;
    }
  }
  .post-container {
    background-color: #fff;

    border: 0 solid #000;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    .post-user {
      display: flex;
      padding: 10px 10px;
      justify-content: baseline;
      h1 {
        padding: 10px 10px;
        color: #262626;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .post-photo {
      img {
        width: 100%;
      }
    }

    .comments {
      h1 {
        padding-left: 10px;
        color: #262626;
      }
      .far {
        font-size: 25px;
      }
      i {
        padding: 10px;
      }
      .comments-section {
        display: flex;
        padding: 10px 0;

        h1 {
          padding-right: 10px;
          color: #262626;
        }
      }
      .comment-input {
        width: 100%;
        .comment-input-field {
          width: 100%;
          padding: 10px 0;
          border: none;
        }
      }
    }
  }
}
