.mainpart{
    margin-left: 250px;
    margin-right: 250px;
    border:1px solid black;
  

}

.firstimg{
    width:100%;
    height:500px;
}

.secondimg{
    border-radius:80%;
    width:40px;
}

.username{
font-size: 20px;
margin-top: 10px;
}

.likepic{
    height:40px;
    width:40px;
}

.far{
    width:40px;
    height: 50px;
}

.commnents{
    font:bold;
}
