.Comments p {
  text-align: left;
  margin: 2% 3%;
}

.timeFromNow {
  font-size: 1.4rem;
  color: lightgray;
}

.divider {
  width: 95%;
  opacity: 0.2;
  margin: 2% auto;
}

.commentSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}

.commentBox {
  border: none;
  padding: 2% 1% 2% 3%;
  font-size: 1.4rem;
  opacity: 0.5;
  width: 100%;
}

.commentBox:focus {
  outline-width: 0;
}

.fa-ellipsis-h {
  opacity: 0.5;
}