.commentSection{
    font-size: 14px;
    font-family:  'Open Sans', sans-serif;
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
}
 .commentInput{
    margin-top: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
 .timestamp{
    padding: 10px 0;
    font-family:  'Open Sans', sans-serif;
    color: #9c9c9c;
    font-weight: bold;
}
 .addComment{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}
 .addComment input{
    width: 90%;
    height: 30px;
}
 .addComment input:focus{
    outline: none;
}
 .hide{
    display: none;
}