h6 {
    display: inline-block;
}

.body-header h6 {
    font-weight: bold;
}

.body-header span {
    margin: 0 6px;
}

.well-bottom {
    border: 0.5px solid lightgray;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    line-height: 100%;
}

.well-bottom h6 {
    font-weight: bold;
}

.well-bottom p:last-child {
    color: lightgray;
}

.container {
    border: 1px solid lightgray;
}

.thumbnail {
    width: 30px;
    height: 30px;
}