.post-container{
    border: 1px solid gray;
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
}
.top-container{
    padding: 3% 2% 0;
}
.thumb-pic{
    height:20px;
    margin-left: 2%;
}
.top-picture {
    height: 500px;
    width: 100%;

    text-align: center;
}
h1 {
    font-size: 1rem;
}
.comment-container{
    max-width: 100%;
    margin: 5% 5% 0 5%;
}
.comment-bar{
    border: none;
    border-top: 1px solid gray;
    width: 90%;
    height: 50px;
}