.comments {
    text-align: left;
    padding: .5%;
    margin-left: 3%;
  }
  
  .comment {
    font-weight: 300;
    font-size: 1em;
  }
  
  .user {
    font-weight: 500;
    font-size: 1em;
  }
   