.post-header {
    height: 3.1rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.post-header img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin-left: .8rem;
    margin-right: .5rem;
}

.post-header p {
    font-weight: bold;
    font-size: .75rem;
}

.post {
    margin: 0 20%;
    box-shadow: 0px 0px 1px 1px #ccc;
    margin-bottom: 4rem;
}

.cl-buttons {
    height: 2.2rem;
}

.likes p {
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .5rem;
    
    
}

.comments {
    margin: 0 2.5%;
    text-align: start;
}

.big-image {
    height: 30rem;
}

img {
    width: 100%;
}