.Search-Bar {
    display: flex;
    justify-content: space-around
}

.action-buttons {
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 4px;
}

.fa-instagram{
    font-size: 2em;
}

.search-block input {
    text-align: center;
    height: 100%;
    width: 16em;
    font-size: 15px;
}