* {
  /*border: 1px solid black;*/
}

.container {
  width: 968px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.instagram-icon-and-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  margin-left: 20px;
}

.instagram-icon-and-logo-container i {
  margin-right: 20px;
}

.instagram-icon-and-logo-container p {
  border-left: 2px solid black;
  padding-left: 20px;
  /*letter-spacing: -0.8px;*/
}

.header-icons {
  width: 140px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  color: lightgray;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
