.App {
    text-align: center;
    width: 604px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-flow: column;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App.search-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
}

.post-list-container {
  width: 100%;
    height: 50px;
}