body {
  margin: 0px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  position: relative;
  padding: 16px 20px;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.instagram-logo {
  float: left;
  width: 168.11px;
  height: 39.47px;
  margin-top: -6px;
  margin-left: 20px;
}

.search-bar {
  width: 215px;
  height: 28px;
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.02);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.top-right-logo {
  float: right;
  height: 38px;
  width: 170.72px;
  margin-top: -5px;
}
