.App {
  text-align: center;
}

.App-logo {
 /* animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #774;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-image {
  margin:20px;
  width:200px;
  height:200px;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
