.comment--background {
  background-color: lightseagreen;
  margin: 0 25px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.comment {
  display: inline-block;
  margin: 20px 10px 10px 75px;
  font-size: 16px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

input[type='text'] {
  display: inline-block;
  background-color: lightcyan;
  border: 0;
}

.input__button {
  display: inline-block;
  background-color: salmon;
  color: white;
  font-weight: bold;
  margin: 0 0 0 6px;
  border: 0;
}