@import "./src/components/CommentSection/CommentSection.css";
@import "./src/components/SearchBar/SearchBar.css";
@import "./src/components/PostContainer/PostContainer.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
