* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}