body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
}

.comment-text {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding: 2px;
  margin-left: 4px;
}

.comment-bar {
  border-top: 4px solid #efefef;
  width: 100%;
}

.comment {
  font-weight: 300;
  font-size: 14px;
}

.user {
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.posts-container-wrapper {
  height: 500px;
  width: 30%;
  margin: 5px auto;
}

.post-border {
  border: 1px solid #d3d3d3;
  margin: 15px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.post-image-wrapper {
  height: 100%;
  width: 100%;
}

.post-image {
  width: 100%;
}

.post-header {
  display: flex;
}

.post-thumb-wrapper {
  height: 50px;
  width: 50px;
}

.post-thumb {
  height: 100%;
  border-radius: 50%;
}

.like-section {
  display: flex;
  color: #000000;
}

.like-section-wrapper {
  height: 10px;
  width: 10px;
  margin: 10px;
}

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 80px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

.search-box input {
  border-radius: 10%;
}

.image-wrapper {
  align-content: center;
  height: 50px;
}

.logo-image {
  display: none;
}

.logo-image-text {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}

.form-group {
  display: flex;
  align-content: center;
  justify-content: center;
}

.login-form {
  width: 500px;
  background: #ffffff;
  border-radius: 6px;
  margin: 10px auto;
  padding: 10px 25px;
  border: 2px solid #e6e6e6;
  align-content: center;
}

.loginbtn {
  background: #3897f0;
  color: #ffffff;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-weight: "bold";
  align-self: flex-end;
}

.login-text {
  margin: 10px 10px;
  padding: 10px;
  width: 100%;
}

.login-form img {
  height: 100px;
}