* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type="button"] {
  cursor: pointer;
  outline:none;
}

input[type="button"]:hover {
  background-color: #1495fa;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}