
h3 {
    text-align: left;
    float: right;
}


.wrapper {
    margin:auto;
}

.InstagramList {
    margin: auto;
    padding: 15px;
    width: 50%;
}

.InstagramList__item {
    width: 500px;
    background-color:white;
    display: inline-block;
    border: solid 1px lightgrey;
}

.InstagramList__item__topWrapper{
    width: 100%;
    height: 100%;
    font-size: 12px;
    position: relative;
}

.InstagramList__item__topWrapper__thumbnail {
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    border-radius: 50%;
}

.InstagramList__item__mainImages {
    max-width:100%;
    max-height:100%;
}

.InstagramList__item__bottomSection {
    width: 100%;
}

.InstagramList__item__bottomSection__likes {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    top: 0px;
    left: 0px;
}

.InstagramList__item__bottomSection__icons {
    left: 0px;
    bottom: 0px;
}
