.brand {
  font-family: "Lobster", cursive;
}

.insta {
  border-right: solid 1px gray;
  padding-right: .75em;
  float: left;
  margin: .5em;
}

.hearts {
  float: right;
  display: inline-block;
  top: .5em;
  right: 1em;
  margin-right: 3em;
  position: absolute;
  
}

.user {
  float: right;
  display: inline-block;
  top: .5em;
  right: 2.7em;
  position: absolute;
}

.compass {
  float: right;
  display: inline-block;
  top: .5em;
  right: 5.5em;
  position: absolute;
}

.sear {
  display: inline-block;
  margin-left: 20em;
}

Navbar.Header {
  justify-content: right;
}

span {
  display: inline-block;
  float: right
}