:root {
    /* Color assignments */
    --header-img: var(--black);
    --user-post-border-color: var(--lightgrey);
    --post-timestamp-font-color: var(--silver);

    /* Color values */
    --black: #000000;
    --lightgrey: #D3D3D3;
    --silver: #C0C0C0;
}