* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.comments-container {
  padding:  0 1rem;
}

.addNewCommentINPUT {
  padding: 1rem 0;
}

.commentINPUT {
  width: 100%;
  border: 1px solid lightgrey;
}