.post-container {
    width: 64.2rem;
    margin: 0 auto;
}

.individual-post {
    border: 1px solid #E7E7E7;
    margin: 40px 0;
}

.individual-post img {
    margin-top: 2px;
}

.far {
    font-size: 2.8rem;
    margin: 19px 10px 13px 10px;
}

.likes-amount {
    font-size: 1.6rem;
    margin: 0 14px;
    font-weight: bold;
}

.timestamp {
    margin: 14px;
    font-size: 1.1rem;
}