.commentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.commentContainer .comment {
    width: 100%;
    line-height: 2;
    display: flex;
}
.commentContainer .comment .commentUser {
    font-weight: bold;
    padding-right: 10px;
}
.addComment {
    width: 100%;
    border-top: 1px solid lightgray;
    margin-top: 10px;
}
.addComment input {
    border: none;
    color: darkgray;
    width: 100%;
}
.timestamp {
    font-size: 12px;
    float:left;
    margin-top: 10px;
}