.likes-section-wrapper{
    margin-bottom: 10px;
}

.icon-wrapper {
    display: flex;
    height: 40px;
}

.likes-icon img {
    width: 40px;
    margin-left: 15px;
}

.comment-icon img {
    width: 35px;
    margin-top: 4px;
}

.likes-counter {
    font-weight: bold;
    margin-left: 23px;
}