.post-box {
  border: 1px solid rgb(202, 200, 200);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 10px lightgray;
}
.main-image {
  width: 621px;
  margin-left: -0.05%;
  object-fit: cover;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header div {
  font-weight: bold;
}

.post-thumb {
  border-radius: 50%;
  width: 40px;
  margin: 15px;
}

/* Like Section */

.like-section {
  display: flex;
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}
.fa-heart {
  padding: 8px 0px 0px 0px;
}

.fa-comment {
  transform: scaleX(-1);
  padding: 8px 15px 0px 0px;
}

.like-section-wrapper {
  display: flex;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 15px;
}
