.posts-container {
    width: 70%;
    margin: 0 auto;
    
}

.full-post {
    margin: 20px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.post-header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 10px;
}

.post-header-thumbnail img {
    max-width: 50px;
    border-radius: 50px;
    align-self: center;
    
}

.post-header-username {
    align-self: center;
    margin: 0px 10px;
    font-weight: bold;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
}
