.post-header {
}

.post-header{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.post-header img {
    border-radius: 50%;
    width: 40px;
    margin: 0 10px;
}

.post-header h2 {
    font-weight: bold;
    font-size: 18px;
}