
.posts-container-wrapper {
    height: 500px;
    width: 40%;
    margin: 20px auto;
}

.post-border {
    margin: 5px 0;
    outline: 1px solid lightgray;
    padding: 2px;
}

.post-image-wrapper {
    height: 100%;
    width: 100%;
}
  
.post-image {
    width: 100%;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-thumb-wrapper {
    height: 30px;
    width: 30px;
    margin: 15px;
}

.post-thumb {
    height: 100%;
    border-radius: 50%;
}

.usr {
    font-weight: bold;
}

.icons {
    display: flex;
    margin: 10px 10px 5px 15px;;
}

.likes {
    display: flex;
    margin: 7px 0 10px 17px;
    font-weight: 700;
    font-size: 15px;
}

i.far.fa-heart {
    margin-right: 15px;
}

i.far.fa-comment {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}