.post-container {
    background-color: #FFFFFF;
    border: 1px solid lightgrey;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.post-contents {

}

.post-contents img {
    width: 100%;
}