.posts-container-wrapper {
  
}
.post-border {
 
}
.post-image-wrapper {
  
}

.post-image {
  
}

.post-header {
 
}

.post-thumb-wrapper {
 
}
.post-thumb {
  height: 100%;
  border-radius: 50%;
}
.like-section {
  display: flex;
}

.like-section-wrapper {
  height: 10px;
  width: 10px;
  margin: 10px;
}
