.post-box {
  border: 1px solid rgb(202, 200, 200);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 10px lightgray;
}
.main-image {
  width: 621px;
  margin-left: -0.05%;
  object-fit: cover;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header div {
  font-weight: bold;
}

.post-thumb {
  border-radius: 50%;
  width: 40px;
  margin: 15px;
}

.fa-heart {
  padding-right: 20px;
}

.fa-comment {
  transform: scaleX(-1);
}

.likes {
  padding-right: 80%;
  font-weight: bold;
  padding-bottom: 10px;
}

.time-stamp {
  padding: 2% 60% 2% 0%;
  color: grey;
}
