.post-header {
    display: flex;
}

.post-header img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

.post-title {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.heart-n-comment {
    display: flex;
    justify-content: flex-start;
}

.post-comment {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #555;
}

.post-heart {
    color: #555;
}

.post-heart:hover {
    color: #222;
}

.liked {
    color: crimson;
}

.liked:hover {
    color: maroon;
}

.post-comment:hover {
    color: #222;
}

.likes {
    display: flex;
    margin-bottom: 10px;
    color: firebrick;
}

.card-body {
    padding: 0 20px;
}