.post-container {
  padding-left: 100px;
  padding-right: 59px;
  max-width: 800px;
}

.post-border {
  border: 1px solid lightgray;
}

.post-header {
  max-width: 800px;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.poster {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

.post-thumb {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.username {
  font-weight: bold;
  padding-left: 10px;
}

.post-image {
  width: 100%;
  height: 100%;
}

.social-bar {
  padding-top: 20px;
  padding-right: 180px;
  padding-left: 180px;
}

.heart {
  width: 30px;
  height: 30px;
  padding-left: 15px;
  padding-right: 10px;
}

.comment-like {
  padding-top: 15px;
}

.comment-balloon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.like-counter {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.time-stamp {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 190px;
}

.add-comment {
  display: flex;
  align-items: center;
  margin-left: 180px;
  height: 40px;
  width: 60%;
}

/*-----------------Log In Styles-----------------------------*/

/* .login-input {
  display: flex;
  justify-content: center;
  padding-top: 150px;
} */

/* .login-user,
.login-password {
  width: 200px;
  height: 25px;
  padding-left: 10px;
  margin-right: 20px;
  opacity: 0.5;
  border: 1px solid #555555;
}

.login-button {
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
} */

.login-button:hover {
  background-color: white;
  color: #555555;
  cursor: pointer;
}
