.header {
	margin-top: 10px;
}
.input {
	margin-left: 500px;
	margin-top: 20px;
}
.logo {
	width: 10%;
	margin-top: -30px;
}
.profile {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}
