/* header styles start here */
.header-container{
    margin: 10px;
}
.bottom-border{
    border: .5px solid rgb(194, 194, 194);
    margin-top: -10px;
    position: relative;
    bottom: 30px;
}

.logo{
  padding: 5px;
  margin: 5px; 
  margin-top: 10px; 
  cursor: pointer;
}

.instagram{
    display: inline-block;
    position: relative;
    bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 3;
}

.border{
    width: 0.3px;
    height: 50px;
    position: relative;
    bottom: 4px;
    padding: 0px;
    margin: 0 10px;
    border: solid .5px black;
    background-color: black;
    display: inline-block;
}

.search-bar-container{
    text-align: center;
    position: relative;
    bottom: 40px;
    /* overflow: visible; */
    z-index: 1;
    
}

.search-bar{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 239, 239);
    width: 50vh;
    z-index: 1;
    
}

.header-icons{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 70px;
    font-size: 2rem;
    padding: 0 15px;
    /* overflow: hidden;
    width: 140vh; */
    
}

.header-icons i{
    padding: 0 10px;
    z-index: 1;
    cursor: pointer;
}





