.SearchBarContainer{
margin: 0 auto;
width: 99.5%;
height: 80px;
border-top: 1px solid gray;
border-bottom: 1px solid gray;
background-color: aliceblue;
margin-top: 0.2%;
margin-bottom: 2%;
display: flex;
align-items: center;

}

.SearchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid red 1px; */
    width:640px;
    margin: 0 auto;
    margin-left:33%;
}

.SearchBar .leftofsearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid black 1px; */
    width: 20%;
    font-size: 1.6rem;
  

}


.SearchBar .leftofsearch .logotext{
    /* border-left: solid black 1px; */
    padding-left: 5px;
    font-family: 'Oleo Script', cursive;
}



.SearchBar .rightofsearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid black 1px; */
    width: 30%;
    font-size: 1.6rem;

}

.SearchBarContainer button{
    background-color: black;
    color: white;
    
}

