.search-bar-wrapper {
    border-bottom: 1px solid #3333;
    height: 80px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
  }

  .search-bar {
    padding: 5px 10px;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    text-align: center;
    opacity: .5;
  }
  
  .image-wrapper {
    height: 29px;
  }
  
  .logo-image {
    margin: 10px 0;
    padding: 0 10px;
    border-left: 1px solid #EEEEEE;
    height: 100%;
  }
  
  .social-wrapper {
    display: flex;
  }
  
  .social {
    margin: 10px;
    width: 24px;
    height: 24px;
  }