.search-component-container{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: .5px solid #D3D3D3;
  }
  .search-component-instagram-logo{
    /* border: 1px solid blue; */
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
  }

  .instalogo{
    padding-right: 5%;
    padding-top: 1%;
  }

  .instaFont{
    width: 33%;
    height: 100%;
    padding-left: 5%;
  }
  
  .vertical_line{
    border-left: 1px solid gray;
    height: 33px;
  }

  .input{
    margin-right: 10%;;
  } 
  
  .search-input {
    color: #D3D3D3;
    height: 20px;
    width: 250px;
    padding: 2px;
    background: #f4f4f4;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3px;
  }

  .search-component-navigation{
    /* border: 1px solid blue; */
    font-size: 30px;
    margin-right: 20%;
  }

  .topUser{
    padding-left: 20px;
  }

  .topHeart{
    padding-left: 20px;
  }