@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.postContainer  {
    display: flex;

    border: 1px solid lightgrey;
    box-shadow: 2px 2px 10px black;
    width: 525px;
    height: 675px;
    margin: 25px auto;
}
.userInfo{
    display: inline-flex;

    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
.userNameData{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 16px;
    position: relative;
    left: 10px;
    bottom: 6px;
    width: 150px;
    height: 30px;
    font-weight: 700;
}
.userThumbNail{
    font-size: 12px;
    text-align: center;
    width: 29px;
    height: 29px;
    border: 1px solid transparent;
    border-radius: 100%;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.postImg{
    position: relative;
    width: 527px;
    height: 100%;
    right: 197px;
    top: 51px;
}