.img-container {
	border: 2px solid #e8ebef;
	display: inline-block;
}

img{
	display:flex;
    margin-left: auto;
    margin-right: auto;
	clear: both;
}

.img-caption {
	justify-content: center;
	padding: 0px 10px 10px 10px;
	text-align: left;
}

.img-header {
	padding: 20px;
	text-align: left;
}

.unicode-size {
	font-size: 40px;
}

.comment-section {
	padding-top: 5px;
}