.brand-logo {
  background-image: url("./insta-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: 2px;
}

.brand-title {
  background-image: url("./insta-title.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: 2px;
}
