.comment-form-container {
    max-width: 1080px;
    margin: 30px auto 20px;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
}

form input {
    font-size: 18px;
    border: 0;
    margin: 0 20px;
}