.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

.login-form {
    width: 35rem;
    height: 35rem;
    border: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

.login-form .instagram-logo-text {
    width: 18.4rem;
    height: 7.4rem;
    margin-top: 16px;
  }

.login-form .login-input {
    width: 27rem;
    height: 3.5rem;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding-left: 10px;
    font-size: 1.2rem;
}

.login-form .input-username {
    margin-top: 3px;
}

.login-form .input-password {
    margin-top: 5px;
}

.login-form .login-button {
    width: 27rem;
    height: 3rem;
    margin-top: 20px;
    background-color: #C4E0FA;
    border: 1px solid #C4E0FA;
    color: #FCFDFF;
    font-weight: bold;
}

.login-form .unfaded {
    background-color: #3897F0;
    border: 1px solid #3897F0;
    color: white;
}