.Post {
	border: 2px solid rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin-bottom: 40px;
}

.Post-header {
	width: 100%;
	position: relative;
	height: 60px;
}

.Post-header img {
	display: inline-block;
	height: 30px;
	border-radius: 50%;
	padding: 15px;
}

.Post-header h3 {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	margin: auto;
	top: 20px;
	left: 40px;
}

.Post-image {
	width: 100%;
}

.Post-image img {
	background-size: contain;
	width: 100%;
}

.Post-body {
	margin: 15px;
}

.Post-likes {
	display: inline;
	font-size: 15px;
	font-weight: bold;
}