@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

@import '../../variables.css';

.header {
    display: flex;
    justify-content: space-between;
}

.header-logos {
    display: flex;
    align-items: center;
    width: 15%;
}

.header-img-logo {
    cursor: pointer;
}

.header-logos-separator {
    height: 100%;
    background-color: var(--header-img);
}

.header-txt-logo {
    font-family: "Grand Hotel";
    font-size: 4rem;
    cursor: pointer;
    padding-left: 0;
}

.ig-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
}

.ig-search-bar {
    width: 100%;
    text-align: center;
    font-family: "FontAwesome", "Calibri";
    font-size: 1.8rem;
    padding: 7.5px 0;
    border-radius: 2.5px;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.header-icons > * {
    width: 35px;
    height: 35px;
    cursor: pointer;
}