.Nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
  justify-content: space-between;
}
.Nav-icons {
  display: flex;
}
.Nav-icons div {
  margin: 0 5px;
}
.Nav-search input {
  height: 20px;
  width: 200px;
  border-radius: 5px;
}
.Nav-brand-logo {
  display: block;

  background-position: -176px 0px;
  background-image: url(../../sprite.svg);
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%;
}
.Nav-icon-feed {
  color: #003569;

  background-image: url(../../sprite.svg);
  background-size: 405px 379px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: -275px -354px;
  height: 25px;
  width: 25px;
}

.Nav-icon-heart {
  color: #003569;

  background-image: url(../../sprite.svg);
  background-size: 405px 379px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;

  background-repeat: no-repeat;
  background-position: -325px -328px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.Nav-icon-profile {
  color: #003569;

  background-image: url(../../sprite.svg);
  background-size: 405px 379px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: -308px -173px;
  height: 25px;
  width: 25px;
}

.menu {
  height: 400px;
  weight: 400px;
}
