.comments-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
  }
  .post-icons{
    display: flex;
    justify-content: space-between;
    width: 75px;
  }
  