.header {
    /* display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    background: rgba(255, 255, 255, 0.975); */
}

.header__logo {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 150px;
    font-size: 3rem;
    margin-left: 10px; */
}

.header__logo--img {
    /* max-height: 30px;
    width: auto; */
}

.words {
    /* margin-top: 3px; */
}

.logo {
    /* margin-top: 2px; */
}

.header__menu {
    /* display: flex;
    justify-content: space-between;
    min-width: 150px;
    font-size: 3rem;
    margin-right: 10px; */
}