@font-face {
  font-family: Billabong;
  src: url(../../assets/Billabong.ttf)
}
.search-bar {
  height: 77px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

.search-bar__wrapper {
  
}

.search-bar__brand {
 
  /* width: 200px; */
}

.search-bar__brand img {
  
}

.search-bar__search {
  
}

.search-bar__search img {
  padding-left: 5px;
  height: 11px;
  width: auto;
}

.search-bar__search input {
  
}

.search-bar__icons img {
  height: 100%;
  width: auto;
  
}



/* @media (max-width: 580px) {
  .search-bar__wrapper{
    padding: 26px 10px;
    justify-content: center;
  }
  .search-bar__brand{
    padding-right: 20px;
  }
  .search-bar__search{
    
 
} */

