.post-header {
    height: 50px;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  
.post-header img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-right: 8px;
  }