.head{
    display: block;
    margin:0 auto;
    margin-top:6%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color:blue;
}

input {
    border-radius : 16%
}

.picture {
        display:flex;
        width:20%;
        justify-content: space-around;
        flex-direction: row-reverse;
}

.thumb{
    border-radius: 90%;
    width:35%;
    height:auto;
}

.imageurl {
    width:84%;
    height:auto;
}


.compo-image {
    margin-left: 14%;
    display: block;

}