.comment-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.user {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.comment {
  font-size: 15px;
  flex-wrap: wrap;
}

.add-comment-wrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(233, 230, 230);
  width: 570px;
  margin-left: 20px;
  margin-top: 15px;
}

.input {
  border-style: none;
  font-size: 15px;
  margin: 15px 368px 15px 5px;
}

.fa-ellipsis-h {
  font-size: 18px;
}
