.comment-section {

  margin-top: 13px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 15px;

  .comment {

    p {

      font-size: 1.4rem;
      margin-bottom: 15px;

    }

  }

  .time {

    color: grey;
    margin-bottom: 15px;

  }

  input {

    margin-left: -17px;
    border: none;
    width: 100%;
    padding: 17px;

  }

}
