.commentUser{
	font-size: .9rem;
	margin-right: 5px;
}
.commentText {
	font-size: .9rem;
}

.bottomIcons {
	display: flex;
	justify-content: space-between;
	width: 11%;
	margin: 10px 0px 0px 0px;
}

.commentContainer {
	display: flex;
	flex-direction: column;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	margin-left: 3%;
}

.addComment {
	border: none;
	border-top: 1px solid #EBEBEB;
	padding: 30px 0;
	margin: 20px 0 0 0;
	width: 95%; 
	font-size: 1.0rem;
}

.addComment:focus {
  outline: none;
}