.comment-text {
    text-align: left;
    padding: 2px;
    margin-left: 4px;
  }
  
  .comment {
    font-weight: 300;
    font-size: 14px;
  }
  
  .user {
    font-weight: 500;
    font-size: 12px;
  }