html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .display-time {
    display: flex;
    padding-left: 5px;
  }

  .comment-container {
    border-top: 1px solid lightgrey;
    margin: 10px auto 0;
    width: 98%;
    height: 35px;
  }

  .input-field {
    height: 28px;
    border: white;
    width: 50%;
  }

  .comment-text {
    text-align: left;
    padding: 2px;
    margin-left: 4px;
  }
  
  .comment {
    font-weight: 300;
    font-size: 14px;
  }
  
  .user {
    font-weight: 500;
    font-size: 12px;
  }
  