.Comment__username {
  font-weight: bold;
}

.Comment__input {
  width: 100%;
  background-color: #fff;
  border: none;
  margin-top: 5px;
  font-size: 110%;
}

.Comment-box {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.Comment-box__likes {
  font-size: 125%;
  font-weight: bold;
}
