.comment-section {
    padding: 10px 20px 0px 20px;
    font-size: 14px;
}
.comment-section .comment-section-icons {
    height: 24px;
}

.comment-section .comment-section-icons button{
    display: inline-block;
    margin-right: 20px;
    height: 24px;
}

.comment-section .comment-section-icons svg {
    width: 24px;
    outline: none;
    fill: black; 
}

.comment-section .comment-section-icons button.like-icon svg path {
    d: path('M 462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z');
}

.comment-section .comment-section-icons button.like-icon.liked svg {
    fill: #ED4956;

}

.comment-section .comment-section-icons button.like-icon.liked svg path {
    d: path('M 462.3 62.6 C 407.5 15.9 326 24.3 275.7 76.2 L 256 96.5 l -19.7 -20.3 C 186.1 24.3 104.5 15.9 49.7 62.6 c -62.8 53.6 -66.1 149.8 -9.9 207.9 l 193.5 199.8 c 12.5 12.9 32.8 12.9 45.3 0 l 193.5 -199.8 c 56.3 -58.1 53 -154.3 -9.8 -207.9 Z');
}


.comment-section .likes {
    font-weight: bold;
}

.comment-section .comment-text {
    width: 95%;
}

.comment-section .comment-user {
    font-weight: bold;
}

.comment-section .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.comment-section .comment .remove-comment {
    display: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #ED4956;

}

.comment-section .comment:hover .remove-comment {
    display: inline-block;
}

.comment-section .timestamp {
    font-size: 10px;
    letter-spacing: .2px;
    color: #999;
}

.comment-section .timestamp p {
    margin-top: -5px;
}

.comment-section .comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #efefef;
    padding: 16px 0;
    margin-top: 4px;
}

.comment-section .comment-input form {
    width: 95%;
    height: 22px;
}

.comment-section .comment-input textarea {
    width: 100%;
    border: 0px;
    outline: none;
    resize: none;
    font-size: 14px;
    font-family: sans-serif;
}

.comment-section .comment-input textarea::placeholder {
    color: #999;
    font-family: sans-serif;
} 

.comment-section .comment-input .ellipsis {
    font-weight: bold;
    font-size: 18px;
}