.comment {
    display: block;
   text-align: left;
    align-items: center;
    margin: 5px 16px;
    font-size: 14px;
}

.user-comment {
    font-weight: bold;
}

.comments {
    margin-top: 10px;
}

.form {
    width: 95%;
    height: auto;
    margin: 14px;
    border: none;
    border-top: 1px solid lightgray;
    font-size: 14px;
    padding: 20px 0;
}