.sprite-post {
  display: inline-block;
  background: url('https://www.instagram.com/static/bundles/base/sprite_glyphs.png/5bc02fa85667.png'); 
}

#heart {
 background-position: -26px -92px;
 width: 24px;
 height: 22px;
}

#bubble {
  margin-left: 15px;
	background-position:  -26px -65px;
	width: 24px;
	height: 24px;
}

.comment-container {
  max-width: 640px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.comment-container hr {
  max-width: 640px;
  width: 95%;
  margin: 10px 0 10px 1%;
  opacity: 0.5;
}

.icons {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.data-comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.data-comments span {
  font-weight: bold;
  font-size: 14px;
}

.data-comments p {
  flex-wrap: wrap;
  line-height: 15px;
  font-size: 14px;
  margin: 5px auto;
  text-align: left;
}

.time-stamp p {
  color: gray;
  font-size: 14px;
}

.like-comment {
  font-weight: bold;
}

.comment-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 640px;
  width: 100%;
  justify-content: flex-start;
}

.comment-input input[type=text] {
  margin-left: 1%;
  width: 85%;
  height: 30px;
  font-size: 14px;
  border: none;
}

