.text{
  text-align: left;
  padding: 0.2rem;
  margin-left: 0.7rem;
}

.text .username{
  font-weight: 700;
  font-size: 0.9rem;
}

.text .comment{
  font-weight: 600;
  font-size: 0.7rem;
}

.comment-input{
  margin-left: 0.7rem;
  margin-right: 0.6rem;
  margin-top: 0.4rem;
}

input{
  width: 100%;
  height: 2.5rem;
  border-top: 0.5px solid lightgrey;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}
