.comments_container{
  width: 640px;
  margin: 0;
  font-size: 1rem;
}
.comments_container .time{
  padding-left: 10px;
  color: grey;
  font-size: 1rem;
}

.comment_container p{
  font-size: 1.1rem;
}

.comment_container p span{
  font-weight: bold;
  padding-left: 10px;
}

.comment_input_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 618.5px;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  background: #FAFAFA;
  border-right: .5px solid #D3D3D3;
}

.comment_input_container img{
  height: 32px;
  width: 32px;
}

.comment_input_container .comment_input{
  background: none;
  padding: 0;
  margin: 0 auto;
  border: none;
  color: black;
}
