.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .comment {
    width: 95%;
    margin: 5px 0;
    display: flex;
    align-items: baseline;

    h3 {
      font-size: 1rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      margin-left: 10px;
    }
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input {
    border-style: none;
    width: 95%;
    height: 50px;
    border-top: 1px solid lightgray;
    font-size: 1rem;
    margin-top: 10px;
  }

  .icon-buttons {
    margin: 10px 0 10px 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    i {
      font-size: 1.6rem;
      margin-right: 20px;
    }

    h4 {
      font-size: 1rem;
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;
    }
  }
}
