.comment-container {
    display: flex;
    margin-bottom: 12px;
}

.comment {
    margin-left: 1%;
    line-height: 2rem;
}

.comment-adder {
    padding: 4px 1%;
    width: 100%;
    height: 34px;
}