.comment-section {
  text-align: left;
}

.comment-section .comment {
  margin-bottom: 2px;
}

.comment-user {
  font-weight: bold;
  margin-right: 8px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.comment-icon {
  margin-right: 20px;
}

.comment-likes {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 8px;
}

.timestamp {
  font-size: 1.2rem;
  color: gray;
}

.add-comment-form {
  margin: 8px;
  width: 97.5%;
  border: none;
}
