.Comment-container {
  width: 95%;
  margin: 10px auto;
}

.Comment-container .time {
  /* width: 95%; */
  margin: 0 auto;
  margin-top: 10px;
  color: #b6b6b6;
  font-size: 1.2rem;
}

.Comment-body {
  margin-bottom: 5px;
}

.Comment-body h2, p {
  font-size: 1.5rem;
}

.Comment-body h2 {
  margin-right: 1%;
  font-weight: 700;
  display: inline;
  line-height: 20px;
}

.Comment-body p {
  display: inline;
}

.Comment-input {
  /* width: 95%; */
  height: 40px;
  margin: 10px auto;
  margin-bottom: 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Comment-input input {
  width: 97%;
  font-size: 1.5rem;
  border: none;
}

.Comment-input input::placeholder {
  color: #b6b6b6;
}

.Comment-input input:focus {
  outline: none;
}