.comment-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.0rem;
    margin-left: 2%;
    margin-bottom: 10px;
}

.comment-section .comment-username {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}