.comment {
  width: 80%;
  margin: 10px 0;
  border: 1px solid lightblue;
  border-radius: 5px
}

.comment h4 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: lightblue;
  font-size: 14px;
}

.timestamp {
  color:gray;
  font-size: 9px;
}

.comment p {
  padding: 5px;
  margin: 5px 0;
}

.post-add-comment-textbox {
  width: 90%;
  margin: 30px 0 10px 0;
  border-radius: 5px;
}

.post-add-comment-textbox::-webkit-input-placeholder {
  font-size: 16px;
}

.post-add-comment-textbox:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

.post-add-comment-textbox::-moz-placeholder {  /* Firefox 19+ */
  font-size: 16px;
}

.post-add-comment-textbox:-ms-input-placeholder {
  font-size: 16px;
}

.post-add-comment-textbox:focus::-webkit-input-placeholder { color:transparent; }
.post-add-comment-textbox:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.post-add-comment-textbox:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.post-add-comment-textbox:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.post-add-comment-btn {
  width: 90%;
  margin: 0 0 10px 0;
  height: 40px;
  border-radius: 10px;
}

.post-add-comment-btn:focus {
  outline: none;
}