.comment {
    text-align: left;
    padding-bottom: 10px;
}

.commenter-name {
    font-weight: bold;
    padding-right: 10px;
}

.comment-section {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 84%;
    margin-left: 6.5%;
    margin-top: -5px;
    margin-bottom: 40px;
}

.comments {
    border-bottom: 1px solid lightgray;
    margin-right: 4%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.comment-bar {
   height: 30px;
   text-align: left;
   border: none;
   font-size: 16px;
   margin-top: 10px;
   margin-left: 0%;
   width: 99%;
}

