.iconContainer {
  display: flex;
  width: 15%;
  flex-wrap: wrap;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
body {
  background: #ebebeb;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.postContainerDiv {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: flex-start;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.postContainerDiv p {
  margin-left: 2%;
}
.postContainerDiv .userHeading {
  display: flex;
  align-items: center;
}
.postContainerDiv .userHeading .userImage {
  border-radius: 50%;
  height: 30px;
  margin-right: 15%;
}
.postContainerDiv .userHeading p {
  font-weight: bold;
}
.postContainerDiv .imageURL {
  width: 100%;
  height: 640px;
  margin-bottom: 10px;
}
.postContainerDiv .timeStamp {
  color: lightgrey;
  margin-left: 2%;
  margin-top: 8px;
  font-weight: bold;
}
.postContainerDiv .likes {
  color: #4b4b4b;
  font-weight: bold;
  margin: 0;
}
.postContainerDiv .likeButton {
  background: white;
  border: none;
  outline: none;
}
.commentDiv {
  width: 100%;
  margin: 0 2%;
}
.commentDiv .postedCommentContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: start;
}
.commentDiv .postedCommentContainer .userName {
  font-size: 100%;
  margin: 2.5px 1% 2.5px 0;
}
.commentDiv .postedCommentContainer .commentText {
  font-size: 100%;
  margin: 2.5px 0 2.5px 0;
}
.commentDiv .newCommentDiv {
  width: 96%;
  margin: 0 auto;
}
.commentDiv .newCommentDiv .commentInputField {
  border: none;
  height: 50px;
  font-weight: bold;
}
.commentDiv .newCommentDiv form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
