.center {
  display: flex;
  justify-content: center;
}
.comment-section {
  margin: 0 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.comment-section .comment {
  widht: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.comment-section .comment .user {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.comment-section .comment p {
  margin: 3px;
}
.comment-section .timestamp {
  margin: 5px 0 0 5px;
  color: gray;
  font-size: 12px;
}
.comment-section .add-comment {
  width: 95%;
  height: 20px;
  margin: 10px 0 10px 5px;
}
.post-container {
  border: 1px solid lightgray;
  background-color: white;
  width: 400px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(4px 4px 10px gray);
}
.post-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
.post-container .heart,
.post-container .bubble {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.post-container .heart:hover,
.post-container .bubble:hover {
  cursor: pointer;
}
.post-container .dark-heart {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.post-container .dark-heart:hover {
  cursor: pointer;
}
.post-container .hide {
  display: none;
}
.post-container .thumbnail {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  margin: 5px;
}
.post-container .username {
  font-weight: bold;
  margin: 5px;
}
.post-container .main-photo {
  width: 100%;
  height: auto;
}
.post-container .likes {
  margin: 5px;
}
.search-main {
  border: 0.5px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  top: 0px;
}
form {
  margin-right: 15px;
  padding: 0;
}
.search-bar {
  border: 0.5px solid gray;
  background-color: snow;
  width: 100%;
  height: 25px;
  margin: 10px;
  text-align: center;
}
.icon {
  width: 25px;
  height: 25px;
  margin: 15px;
}
.icon:hover {
  cursor: pointer;
}
.insta-logo-word {
  height: 20px;
  margin: 10px;
  padding-left: 15px;
  border-left: 1px solid gray;
}
.insta-logo-word:hover {
  cursor: pointer;
}
.app {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app .all-posts {
  margin-top: 50px;
}
.login {
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
