.post-container{
  width: 50%;
  margin: 50px auto 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-container .post-header{
  height: 75px;
  width: 50%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-container .post-header .user-icon{
  height: auto;
  width: 20%;
}

.post-container .post-header .user-icon img{
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.post-container .post-header .user-name{
  margin-left: 15px;
}

.post-container .post-image{
  margin-top: 15px;
}

@media (max-width: 756px){
  .post-container{
    width: 75%;
  }
}

@media (max-width: 400px){
  .post-container{
    width: 90%;
  }
}
