.post-container{
    display: flex;
    flex-direction: column;

    margin:3rem 0rem;

    /* temporary */
    max-width: 640px;

    border: 1px solid #AB7C94;
    border-radius:5px;
}
.post-image{
    width:100%;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.5rem;
    margin-top: 1rem;
}
.bottom-container .icon-container .fa-icon{
    padding-right: 1rem;
}
.bottom-container .likes{
    font-weight: bold;
    margin: .5rem 0rem;
}
