.fluid-container{

    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 800px;
}

.post{
    border: solid black 2px;
    padding: 10px 0px;
    margin: 10px 0px;
    box-shadow: 8px 5px 3px 2px rgba(0,0,0,0.75);
}

.post-header{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.user-img{
    margin: 5px;
    width: 6%;
   border: solid black 1px;
   border-radius: 360px; 
}

p{
    margin-left: 2%;
}

.post-img{
    width: auto;
    padding: 20px;
}

.icons{ 
 display: flex;
 flex-direction: row;
 margin: 10px;
}

i{
    margin: 0px 20px;
    font-size:23px;
}
