.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.Login > * {
  margin-top: 2%;
}

.Login h1 {
  margin: 0;
}

.Login input {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5%;
  border-radius: 5px;
}

.Login button {
  font-size: 2rem;
}

.navLogo1 {
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  font-size: 3rem;
  margin-bottom: 2%;
  width: 100%;
}
