.search-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:.5px solid black;
    box-shadow: 0 0 1 black;
    border-radius: 2px;
    height: 100px;
    margin: 0 0 -30px 0;
    width: 100%;
}
