.postContainer {
    margin: 1.5rem auto;
    width: 60.5rem;
    border: 0.01rem solid lightgray;
}

.postHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postHeader img {
    max-width: 3rem;
    margin-top: 0.75rem;
    margin-left: 1.75rem;
    height: auto;
    border-radius: 50%;
}

.postHeader p {
    padding-top: 0.25rem;
    margin-left: 1rem;
}

.post {
    width: 100%;
    padding: 0 0.25;
}

.postHeader {
    padding: 1rem 0;
}

.postImage {
    padding: 0.25rem;
    max-width: 100%;
    height: auto;
}

.likeSection {
    padding: 0 1.8rem;
    margin-bottom: 0.5rem;
}

.likeCommentSection {
    display: flex;
    flex-direction: column;
}

.likeCommentIcons {
    display: flex;
    font-size: 2.4rem;
}

.likeCount {
    margin-top: 0.5rem;
    text-align: left;
}