.posts-container-wrapper {
    height: 500px;
    width: 75%;
    margin: 5px auto;
  }
  .post-border {
    border: 1px solid #d3d3d3;
    margin: 5px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .post-image-wrapper {
    height: 100%;
    width: 100%;
  }
  
  .post-image {
    width: 100%;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    padding: 3%;
  }
  
  .post-thumb-wrapper {
    height: 50px;
    width: 50px;
  }
  .post-thumb {
    height: 100%;
    border-radius: 50%;
  }
  .like-section {
    display: flex;
    margin-left: 2%;
  }
  .far{
    height: 5%;
    width: 5%;
}
  
  .like-section-wrapper {
    margin: 10px;
  }