.App {
  text-align: center;
  padding-bottom: 50px;
  background-image: url('https://images.pexels.com/photos/490411/pexels-photo-490411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}