body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}



.post-container {
  margin: 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.post-top {
  width: 500px;
  height: 100px;
  padding-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;;
}

.thumb-nail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name1{
  font-weight: bold;
  padding-top: 10px;
}

.likes {
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.time {
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-post{
  width: 500px;
  height: 500px;
}

.post-bottom {
  width: 500px;
  height: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.comment-section {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.comment-username {
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.comment-text {
margin-left: 10px;
word-wrap: normal;
text-align: left;
}