.commentSection {
  margin: 10px;
  padding: 10px;
}

.comment {
  display: flex;
}

.comment h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.likeAndComment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.likeAndComment .icons {
  margin: 4px;
  margin-right: 15px;
}