.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
}

.user-info img {
    border-radius: 50%;
    height: 40px;
    margin-right: 25px;
    margin-left: 10%;
}

.user-info p {
    font-weight: bold;
    font-size: 1.2rem;
    align-self: flex-start
}

.post-container-main-img {
    margin-bottom: 20px;
}
.post-container-main-img img {
    width: 100%;
    max-width: 1024px;
}

.interactive-action-buttons {
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interactive-action-buttons img {
    width: 40px;
    height: 40px;
    margin-right: 3%;
}

.username {
    font-weight: bold;
    font-size: 1.5rem;
}

.likes {
    font-weight: bold;
    font-size: 1.0rem;
    text-align: left;
    margin-left: 2%;
}

.post-time {
    font-size: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    color: grey;
}

.comment-bar {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin-bottom: 20px;
}

.comment-bar input {
    font-size: 1.0rem;
    height: 30px;
    border: 0px solid;
    margin-left: 2%;
    border-top: 1px solid lightgrey;
}

button {
    height: 30px;
    background-color: white;
    border: 0px solid;
    font-weight: bold;
    padding-right: 3%;
    font-size: 1.5rem;
    border-top: 1px solid lightgrey;
}