.post--user-info
    border-bottom: 1px solid #efefef
    height: 60px
    padding: 16px
    display: flex
    flex-direction: row
    align-items: center
    .user-info--thumbnail
        cursor: pointer
        align-self: center
        display: block
        position: relative
        height: 100%
        img
            height: 30px
            width: 30px
            border-radius: 50%
            border: 1px solid rgba(0,0,0,.0975)
    .user-info--name
        padding-top: 5px
        padding-left: 5px
        display: flex
        align-content: center
        h2
            color: #262626
            font-weight: 600
            font-size: 0.9rem