/* W code */

.Post {
    margin: 10px auto;
    box-shadow: 15px 15px 30px #cfcdcd;
}

.Post-container {
    margin: auto;
    width: 60%;
    min-width: 300px;
  }

.Post-userimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Post-username {
    margin-left: 10px;
    font-weight: bold;
    padding: 10px;

}

.Post-likes {
    font-weight: bold;
}

.Post-date {
    font-weight: bold;
    color: #9c9999;
}