.post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 5%;
  box-sizing: border-box;
  border: 1px solid #a5a5a5;
  max-width: 600px;
}

.thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.thumbnail-username {
  padding: 2%;
  margin-bottom: 10px;
}

.thumbnail-img img{
  border-radius: 50%;
  height: 40px;
  padding: 1%;


}

.image img {
  height: 40%;
  width: 100%;
}