 .post-container {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #E2E2E2;
    background-color: white;
}

.post-container .post-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.post-container .post-heading .post-heading-img-container {
    width: 30px;
    margin-right: 10px;
}
.post-container .post-heading .post-heading-img-container img { 
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.post-container .post-heading h2 {
    font-size: 1.5rem;
}

.post-container .post-img-container {
    width: 600px;
}
.post-container .post-img-container img {
    width: 100%;
    height: auto;
}