.card {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0;
  margin-bottom: 30px;
}

.user-display {
  width: 100%;
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: bold;
}

.thumbnail-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
}
