.post-container
    align-items: stretch
    display: flex
    flex-direction: column
    margin-bottom: 60px
    border-radius: 3px
    border: 1px solid #e6e6e6
    background-color: white
    margin-left: -1px
    margin-right: -1px
    .post--body
        display: flex
        align-items: stretch
        flex-direction: column
        img
            width: 100%
            height: 