.postContainer {
    margin: 20px 0;
    }

.user {
    display: flex;
    height: 60px;
    padding: 0px;
}

.thumbnail {
    border-radius: 50%;
    height: 60%;
    margin: 15px;
}

.username {
    font-weight: bold;
    margin-top: 22px;
    font-size: 1.4rem;
}

.postImage {
    width: 100%;
}

.postNav {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.postNav img {
    margin: 15px;
    height: 100%;
}

.likes {
    margin: 25px 0 0 20px;
    font-size: 1.4rem;
}

.addComment {
    height: 60px;
    margin: 0 20px;
    border: none;
    border-top: 1px lightgray solid;
    font-size: 1.4rem;
}