.post-wrapper {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #ccc;
  box-shadow: 0 10px 6px -6px #777;
}
.post-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.post-header-wrapper img {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.post-header-wrapper .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.post-wrapper img {
  height: auto;
  width: auto;
  max-width: 600px;
}

.post-icon-and-comments-wrapper {
  padding: 10px 20px;
}

.post-icon-and-comments-wrapper p {
  margin: 5px 0 10px 0;
  font-weight: 700;
  font-size: 14px;
}

.post-icons-wrapper {
  font-size: 20px;
  display: flex;
}

.post-icons-wrapper i {
  margin-right: 14px;
  padding: 0;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
