.postHeader {
    display: flex;
    align-items: center;
    height: 62px;
}

.postHeader img {
    margin-left: 15px;
    padding-right: 2px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.postHeader h4 {
    margin-left: 10px;
}

.postimg {
    height: auto;
    width: 100%;
}

