/* .postHeader {
  display: flex;
  align-items: baseline;
  padding: 12px 0;
} */

.postHeaderTitle {
  margin-left: 10px;
  cursor: pointer;
}

/* .thumbNailImage {
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
} */

img {
  border-radius: 50%;
  width: 25px;
}
