span {
    padding-left: 10px;
}

i {
    font-size: 2.5rem;
    margin: 10px 15px;

    &.far.fa-heart {
        transition: color 1s ease-out;

        &:hover {
            color: red;
        }
    }

    &.fas.fa-heart {
        color: red;
    }

    &.far.fa-comment {
        color: gray;
        transition: color 1s ease-out;

        &:hover {
            color: black;
        }
    }

    &.fas.fa-comment {
        color: black;

        &:hover {
            color: gray;
        }
    }
}

.like {
    padding: 0px;
    cursor: pointer;
}

input.addComment {
    background: none;
    border: none;
    padding: 15px;
    width: 235%;
}

i {
    padding: 15px;

    &:hover {
        cursor: pointer;
    }
}