#centeruser{
    text-align: start;
    margin-left: 50px;;
    margin-top: 20px;
}

#img{
    height: 300px;
    border-radius: 8px;
    display: block;
    margin-left: 10px;;
}
#one {
    margin-top: 20px;
}

#two {
    margin-top :20px;
    font-weight: bold;

}

