.post-container {
  margin: 0 20%;
  padding: 80px 0;
}

.user-info {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.image-post {
  width: 100%;
}

.post {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.like-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  margin-top: 15px;
}

.post-logos {
  display: flex;
  flex-direction: row;
}

.left-heart {
  background: url(../SearchBar/Logos/download.png) no-repeat -184px -359px;
  width: 22px;
  height: 20px;
  padding-right: 11px;  
  cursor: pointer;
}

.message-bubble {
  background: url('../SearchBar/Logos/download.png') no-repeat -459px -394px;
	width: 22px;
  height: 19px;
  cursor: pointer;
}

.like-counter {
  margin-top: 20px;
  margin-bottom: 12px;
}