/* .post-container {
  border: 1px solid rgba(170, 170, 170, 0.637);
  border-radius: 2px;
  max-width: 640px;
  margin-top: 40px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0 10px;
} */

/* .likes-container {
  padding: 10px 10px 0;
}

.likes-container div img {
  padding-right: 10px;
} */