.post-container {
    border: 1px solid grey;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
}

.post-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 0 15px;
}

.post-user-name {
    font-weight: bolder;
    margin-left: 30px;
}

.post-image-container {

}

.post-image {

}