.post {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin: 0 auto 20px auto;
  width: 642px;
}

.post-header {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
}

.post-header img {
  border-radius: 50%;
  height: 33px;
  margin: 15px 10px 15px 15px;
}
