.posts-container-wrapper {
    height: 500px;
    width: 50%;
    margin: 5px auto;
}

.post-border {
    border: 1px solid #d3d3d3;
    margin: 15px 0;
}
.post-image {
    width: 100%;
}
.post-image-wrapper{
    height:100%;
    width:100%;
}
.post-header{
    display: flex;
}
.post-thumb{
    height: 100%;
    border-radius: 50%;
}
