.post-container {
    border: 1px solid lightgray;
    margin: 30px auto;
}

.thumbnail-img {
    width: 30px;
    border-radius: 50%;
}

.username-header {
    font-size: 16px;
    margin: 0 10px;
}

.header {
    margin: 15px 15px;
}

.post-img {
    width: 100%
}

.likes-text {
    margin: 10px 15px;
}

.icons {
    margin-left: 5px;
}

.icon {
    font-size: 25px;
    margin: 10px 10px 0;
    color: #F64F51;
}