.post-border {
  border: 1px solid #d3d3d3;
  margin: 5px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.post-image {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
}

.post-header {
  display: flex;
}

.post-thumb-wrapper {
  height: 50px;
  width: 50px;
}
.thumbnail-img {
  height: 100%;
  border-radius: 50%;
}
