.postContainer {
  margin: 10px;
  padding: 10px;
  max-width: 800px;
  justify-content: center;
}

.opUserInfo {
  display: flex;
}

.opUserInfo img {
  width: 32px;
  height: 32px;
  margin: 1%;
  border-radius: 50%;
}

.opUserInfo h3 {
  font-size: 14px;
  margin-top: 16px;
}

