.stream
    padding-top: 135px
    display: flex
    flex-flow: row nowrap
    max-width: 935px
    align-items: stretch
    margin: 0 auto
    .post-list
        max-width: 614px
        flex-direction: column
        flex-grow: 1
        flex-shrink: 0
        width: 100%
        align-items: stretch
        float: left
        margin-right: 28px
        width: 100%