.post_container{
  margin-top: 50px;
  width: 640px;
}

.user_post{
  border: 1px solid #D3D3D3;
}
.userInfo{
  display: flex;
  align-items: center;
  padding: 10px 15px 0px;
  margin-bottom: 15px;
}

.post_image{
  width: 638.5px;
}
.user_icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.interaction_container{
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.interaction_container p {
  font-size: 1.3rem;
  line-height: 0;
}

.user_interaction{
  padding-right: 15px;
}
