.thumbnail-img {
    width: 30px;
    border-radius: 50%;
}

.username-header {
    font-size: 16px;
    margin: 0 10px;
}

.icons {
    margin-left: 5px;
}

.icon {
    font-size: 25px;
    margin: 10px 10px 0;
    color: #F64F51;
}