.body-container{
    text-align:center;
}

.post{
    display:inline-block;
    width:800px;
    border:0.5px solid lightgrey;
    margin-bottom:100px;
    margin-top:100px;
}

.post-header{
    display:flex;
    padding-bottom:20px;
    padding-top:20px;
    padding-left:20px;
}

.profile-pic{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:15px;
}

.username{
    font-size:16px;
}

.post-pic img{
    width:100%;
}

.postForm {
    height: 50px;
    border-top:0.3px solid #f3f3f3;
    padding-top:20px;
}
.postForm textarea {

    width:85%;
    border: none;
    resize: none;
    height:18px;
    outline:none;

}

.postForm  button {

    font-size:20px;
    color: purple;
    border: none;
    background: none;
    opacity:0.5;

}

.postForm button:hover{
    opacity:1;
    cursor: pointer;
}