.postContainer {
    width: 100%;
    font-size: 14px;
    border: 1px solid grey;
    margin: 10px 0;
}


.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > img {
    border-radius: 50%;
    margin: 10px;
}

#instaImg {
    width: 100%;
}

.icons > img {
    margin: 10px;
}

#likes {
    margin-left: 10px;
    margin-top: -10px;
}

