.postWrap {
    margin: 50px auto;
    width: 640px;    
}

.postHeader {
    display: flex;
}

.profileThumbImg {
    border-radius: 100%;
    margin: auto 10px;
    width: 25px;
    height: 25px;
}

.imgContent {
    margin: 10px 0px;
}

.commentWrap {
    display: flex;
    padding-left: 20px;
    
}

.comment {
    margin: auto 5px;
}



.likes h3 {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    font-weight: normal;
}