.postBox {
    border: 1px solid red;
    max-width: 800px;
    width: 100%;
}
.userTag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.userThumbnail {
    border: 1px solid orange;
    border-radius: 50%;
    width: 6%;
    height: 6%;
    margin: 5px;
}
.userName {
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
}
    