.post {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 600px;
    font-size: 1.4rem;
    text-align: left;
}

span {
    font-weight: 700;
    margin-right: 5px;
}

.post-header {
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.post-header__thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image {
    width: 100%;
    height: auto;
}

.respond {
    padding-top: 12px;
    padding-bottom: 7px;
}

.likes {
    margin-bottom: 2px;
}

p {
    margin: 8px 0;
}

.content {
    width: 100%;
    border: 1px solid lightgray;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
}

.fa-heart, .fa-comment {
    cursor: pointer;
    font-size: 2.3rem;
    font-stretch: expanded;
}

.fa-comment {
    margin-left: 15px;
    transform: scaleX(-1)
}

.fas {
    color: red;
}

.timestamp {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: gray;
}

form {
    padding: 15px 0;
    border-top: 1px solid lightgray;
}

form input {
    width: 100%;
    border: none;
    padding: 5px 0;
    font-size: 1.4rem;
}

input:focus {
    outline: none;
}