.posts-container-wrapper {
    height: 500px;
    width: 50%;
    margin: 5px auto;
  }
  .post-border {
    border: 1px solid #d3d3d3;
    margin: 5px 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .post-image-wrapper {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .post-image {
    width: 100%;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  
  .post-thumbnail-wrapper {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .post-thumbnail {
    height: 100%;
    border-radius: 50%;
  }

 .userName {
   display: flex;
   font-size: 1.2rem;
   font-weight: bold;
 }