.postWrapper {
    width: 90%; 
    margin: 0 auto; 
    margin-bottom: 5%; 
}

.postHeader {
    display: flex; 
    flex-direction: row; 
    width: 89%; 
    margin: 0 auto; 
    align-items: center; 
    border: 1px solid grey; 
}

.thumbnail {
    width: 5%; 
    height: 5%; 
    border-radius: 100%; 
    margin-right: 2%; 
}

.postUsername {
    font-weight: bolder; 
}

.postImage {
    width: 645px; 
    height: 645px; 
}

.engagement {
    width: 89%; 
    display: flex; 
    flex-direction: column;  
    margin: 0 auto; 
    border: 1px solid grey; 
}

.engagementIcons {
    text-align: left; 
    display: flex; 
    flex-direction: row;  
    width: 7%; 
    justify-content: space-between; 
    padding-top: 2%; 
}

.likesNumber {
    font-weight: bold; 
    text-align: left; 
    margin-top: 2%; 
    margin-bottom: 2%; 
}