
.PostContainer{
 /* border: 1px solid red; */
 width:640px;
 margin: 0 auto;
 
}

.postwrapper{
    width: 640px;
    margin-left: 0px;
    /* border: 1px solid red; */
    padding-left:-100px;
}

.accountheader{
    display: flex;
    /* border : solid red 1px; */
    width: 25%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

}

.accountheader img {
    
    
    width: 60px;
    height:60Px;
    border-radius: 100%;
    margin-right: 10px;
    
   

}
