

.engagementIcons {
    text-align: left; 
    display: flex; 
    flex-direction: row;  
    width: 7%;  
    justify-content: space-between; 
    /* padding-top: 2%;  */
}

.likesNumber {
    font-weight: bold; 
    text-align: left; 
    /* margin-top: 2%; 
    margin-bottom: 2%;  */
}