.post-container {


    border: 3px solid pink;
}


.post-container img {

    border: 2px solid lightseagreen;
}


.post-container header img{

    border: 2px solid blueviolet;
}


.post-container header h3 {

    border: 2px dotted lightblue;
}


header {

    border: 2px dashed hotpink;
}


.likebar {

    border: 3px solid yellow;
}
