.post__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto;
    border: 1px solid lightgray;
}
.user__deets {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    border: .5px solid lightgrey;
    border-radius: .2rem;
    font-weight: bold;

}
.profile__pix {
    border-radius: 50%;
    height: 2rem;
    padding: 1rem;
}
.user__post{
    width: 100%;
}
.post__image {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
}
.reaction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    padding: 1rem;
}
.post__icons {
    font-size: 1.5rem;
}
.timestamp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: gray;
    margin-bottom: 1rem;
    padding: 1rem;
}