.post {
  margin-bottom: 100px;
  border: gray 1px solid;
  width: 48.5%;
  margin-right: auto;
  margin-left: auto;
}
.post-top-container{
  height: 65px;

}
.thumbnail {
  height: 50%;
  display: inline-block;
}
.username {
  display: inline;
}
.main-img {
  width: 100%;
}
.comment-form {
  margin-bottom: 0;
  padding-bottom: 0;
}
.comment {
  list-style-type: none;
}
.login-form {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.login-btn-container {
  padding-left: 0px !important;
}
