* {
    box-sizing: border-box;
}

.logo {

}

.search {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: 0;
    padding: 3px 10px 3px 26px;
    text-align: center;
    z-index: 2;
}

.search:hover {
    cursor: text;
}

.search:focus {
    text-align: start;
}